@using Said.Models
@model Blog
@{
    ViewBag.Title = Model.BTitle + " - Blog";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    bool userLike = (bool)ViewData["userLike"];
    IList<Comment> comments = ViewData["comments"] as IList<Comment>;
}
<div class="said-background" style="background-image: url(/Content/Images/bg/said_codebg.png)">
    <!--code-bg.jpg-->
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item said-banner-white">
                <h3 class="banner-title">Write the code,change the world</h3>
                <div class="banner-content">
                    <p>console.log('Hello,Wrold!');</p>
                    <p>(46840404742).toString(36).replace(/\u0066/,function(){ return arguments[0].toUpperCase(); });</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="content">
    <!--<div class="content-bg">
        <div class="content-bg-img" style="left: 0;"></div>
    </div>-->
    <section class="center afterClear" id="blog-main">
        <div class="b-null-block"></div>
        <div class="b-m">
            <h1 class="blog-title">@Model.BTitle</h1>
            <article class="blog-article">
                <div class="html">
                    <section class="blog-content">
                        <div class="html">@(new HtmlString(Model.BHTML))</div>
                    </section>
                    <div class="l-author">
                        <div>作者：linkFly</div>
                        <div>原文：<a href="@Url.Action("Cl", "Home", new {url= string.Format("http://tasaid.com/blog/{0}.html", Model.BlogId),sgs="blog-dec" })">@(string.Format("http://tasaid.com/blog/{0}.html", Model.BlogId))</a></div>
                        <div>出处：<a href="@Url.Action("Cl", "Home", new {url= "http://tasaid.com",sgs="blog-"+Model.BlogId })">http://tasaid.com</a></div>
                        <div>声明：转载相关授权请<a href="//tasaid.com/Blog/20160906231305.html" target="_blank">点击这里</a>。请尊重作者的辛勤劳动成果。</div>
                    </div>
                </div>
            </article>
            <section class="blog-more-info">
                <div class="blog-more-head">
                    <div class="blog-comment-txt">
                        <span>评论(@Model.BComment)</span>
                    </div>
                    <ul class="blog-info afterClear">
                        <li class="bi-l">
                            <a class="licenses licenses-cc" target="_blank" href="/Home/Cl?url=http%3A%2F%2Fcreativecommons.org%2Flicenses%2Fby%2F3.0%2Fcn%2F&amp;sgs=b-licenses" title="本文采用创作共用署名3.0中国大陆版许可证（Creative Commons Attribution 3.0 China Mainland License）授权">CC BY 3.0 CN</a>
                        </li>
                        <li title="浏览"><span href="javascript:;" class="oprater"><i class="fa fa-eye"></i><span>@Model.BPV</span></span></li>
                        <li class="blog-info-like"><a href="javascript:;" class="@(userLike?"likeIt":string.Empty)" data-like="@(userLike?"true":"false")" title="我喜欢" id="blog-like"><i class="fa fa-heart"></i><span class="like-sum" id="likeCount">@Model.Likes</span></a></li>
                        <li><a href="/Blog" class="blog-info-more">查看更多我的文章</a></li>
                        <li class="blog-info-date"><time>@Model.Date.ToString("yyyy/MM/dd HH:mm")</time></li>
                    </ul>
                </div>
                <div class="blog-more-comment">
                    <div class="blog-comment-content" id="comment-content">
                        <div class="blog-comment-bar">
                            <form action="/" class="comment-form" id="comment-form" onsubmit="return false;" spellcheck="false">
                                <ul class="blog-comment-info">
                                    <li>
                                        <input placeholder="昵称" class="form-control" name="nickName" />
                                    </li>
                                    <li>
                                        <input type="email" placeholder="Email" class="form-control" name="email" />
                                    </li>
                                    <li>
                                        <input type="url" placeholder="您的站点" class="form-control" name="site" />
                                    </li>
                                    <li>
                                        <input type="checkbox" name="remember" id="cmt-remember" checked /><label for="cmt-remember">下次自动填写</label>
                                    </li>
                                </ul>
                                <div class="comment-bar">
                                    <textarea name="context" class="form-control cmt-context" placeholder="名称和Email（不会公开）必填，保存信息会保存这些信息，下次自动填充"></textarea>
                                    <div class="comment-more-bar">
                                        <div class="comment-more-bg">
                                            <div id="cmt-result" class="errMsg _errMsg"></div>
                                            <ul style="display:none;" class="loading-line _loading">
                                                <li class="loading-dot">1</li>
                                                <li class="loading-dot">2</li>
                                                <li class="loading-dot">3</li>
                                                <li class="loading-dot">4</li>
                                                <li class="loading-dot">5</li>
                                            </ul>
                                        </div>
                                        <input type="button" class="said-btn ct-submit said-btn-default" name="submit" value="提交评论" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="blog-comment-context">
                            <ul class="comment-list" id="comment-list">
                                @if (comments.Count > 0)
                                {
                                    for (int i = 0; i < comments.Count; i++)
                                    {
                                        var comment = comments[i];
                                        <li class="comment-item">
                                            <div class="ctitem-content _comment">
                                                <div class="ct-top">
                                                    <a href="#@(i+1)" name="@(i+1)" title="锚点引用" class="anchor"><i class="fa fa-link"></i></a>
                                                    @if (comment.User.Rule == 1)//管理员
                                                    {
                                                        <a href="/" class="ct-name _canchor" target="_blank" title="管理员" data-admin="true" data-anthor="@(i+1)">linkFly</a><i class="fa fa-user-secret admin" title="管理员"></i>
                                                    }
                                                    else if (!string.IsNullOrEmpty(comment.User.Site))//有输入站点
                                                    {
                                                        <a title="访问Ta的站点" href="@Url.Action("Cl", "Home", new {url= comment.User.Site,sgs="b-c-"+(i+1) })" class="ct-name _canchor" data-anthor="@(i+1)" target="_blank">@comment.User.Name</a>
                                                    }
                                                    else {
                                                        <span class="ct-name _canchor" data-anthor="@(i+1)">@comment.User.Name</span>
                                                    }
                                                </div>
                                                <div class="ct-context"><p>@comment.Context</p></div>
                                                <div class="ct-footer">
                                                    <span class="ct-num">#@(i + 1)</span>
                                                    @if (ViewBag.AdminId != null)//如果是管理员则允许删除操作
                                                    {
                                                        <a href="javascript:;" class="delete _commentDelete" title="删除该评论（请谨慎操作）" data-comment-id="@comment.CommentId">删除</a>
                                                    }
                                                    <time class="ct-time">@Said.Common.SaidCommon.DateToLocal(comment.Date)</time>
                                                    @if (ViewBag.UserId != comment.UserId)
                                                    {
                                                        <a href="javascript:;" class="ct-reply _reply"
                                                           data-comment-id="@comment.CommentId"
                                                           data-admin="@(comment.User.Rule == 1?"true":"false")"
                                                           data-anthor="@(i+1)"
                                                           data-site="@(!string.IsNullOrEmpty(comment.User.Site)?string.Empty:Url.Encode(comment.User.Site))"
                                                           data-nick-name="@(comment.User.Rule == 1?"linkFly":Said.Common.HTMLCommon.HTMLEncode(comment.User.Name))"><i class="fa fa-comments"></i>回复</a>
                                                    }

                                                </div>
                                                <div class="comment-reply" @(comment.Replys == null || comment.Replys.Count == 0 ? "style=display:none" : "")>
                                                    <div class="arrow-border cr-arrow"></div>
                                                    <ul class="cr-container">
                                                        @if (comment.Replys != null && comment.Replys.Count > 0)
                                                        {
                                                            for (int j = 0; j < comment.Replys.Count; j++)
                                                            {
                                                                var reply = comment.Replys[j];
                                                                <li class="cr-item">
                                                                    <div class="cr-content">
                                                                        <div class="ct-top">
                                                                            <a href="#@(i+1)-@(j+1)" name="@(i+1)-@(j+1)" title="锚点引用" class="anchor"><i class="fa fa-link"></i></a>
                                                                            @if (reply.User.Rule == 1)
                                                                            {
                                                                                <a href="/" class="ct-name _ranchor" target="_blank" title="管理员" data-admin="true" data-anthor="@(i+1)">linkFly</a><i class="fa fa-user-secret admin" title="管理员"></i>
                                                                            }
                                                                            else if (reply.User.Site != string.Empty)//有输入站点
                                                                            {
                                                                                <a href="@Url.Action("Cl", "Home", new {url= reply.User.Site,sgs=string.Format("b-c-{0}-{1}",i+1,j+1) })" class="ct-name _ranchor">@reply.User.Name</a>
                                                                            }
                                                                            else {
                                                                                <span class="ct-name _ranchor">@reply.User.Name</span>
                                                                            }
                                                                            @if (reply.ToReply != null)
                                                                            {
                                                                                @("&nbsp;&nbsp;回复&nbsp;&nbsp;")
                                                                                if (reply.ToReply.User.Site != string.Empty)//有输入站点
                                                                                {
                                                                                    <a href="@Url.Action("Cl", "Home", new {url= reply.ToReply.User.Site,sgs=string.Format("b-c-to-{0}-{1}",i+1,j+1) })" class="ct-name" target="_blank">@reply.ToReply.User.Name</a>
                                                                                }
                                                                                else {
                                                                                    <span class="ct-name">@reply.ToReply.User.Name</span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <p class="cr-context wordbreak">@reply.Context</p>
                                                                        <div class="cr-footer">
                                                                            @if (ViewBag.AdminId != null)//如果是管理员则允许删除操作
                                                                            {
                                                                                <a href="javascript:;" class="delete _replyDelete" title="删除该评论（请谨慎操作）" data-comment-id="@comment.CommentId" data-reply-id="@reply.ReplyId">删除</a>
                                                                            }
                                                                            <time class="ct-time">@Said.Common.SaidCommon.DateToLocal(reply.Date)</time>
                                                                            @if (ViewBag.UserId != reply.UserId)
                                                                            {
                                                                                <a href="javascript:;" class="ct-reply _reply2reply"
                                                                                   title="回复Ta"
                                                                                   data-comment-id="@comment.CommentId"
                                                                                   data-reply-id="@reply.ReplyId"
                                                                                   data-admin="@(reply.User.Rule == 1?"true":"false")"
                                                                                   data-parent-anthor="@(i+1)"
                                                                                   data-anthor="@(j+1)"
                                                                                   data-site="@(!string.IsNullOrEmpty(reply.User.Site)?string.Empty:Url.Encode(reply.User.Site))"
                                                                                   data-nick-name="@(reply.User.Rule == 1?"linkFly":Said.Common.HTMLCommon.HTMLEncode(reply.User.Name))"><i class="fa fa-comments-o"></i>回复</a>
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="reply-bar" style="display:none;" id="reply-form">
            <form action="/" class="comment-form" name="reply-form" spellcheck="false">
                <ul class="blog-comment-info" style="">
                    <li>
                        <input placeholder="名称" name="nickName" class="form-control">
                    </li>
                    <li>
                        <input type="email" placeholder="Email" name="email" class="form-control">
                    </li>
                    <li>
                        <input type="url" placeholder="您的站点" name="site" class="form-control">
                    </li>
                    <li>
                        <input type="checkbox" name="remember" id="reply-remember" checked><label for="reply-remember">下次自动填写</label>
                    </li>
                </ul>
                <div class="comment-bar">
                    <textarea name="context" class="form-control cmt-context" placeholder="名称和Email（不会公开）必填，保存信息会保存这些信息，下次自动填充"></textarea>
                    <div class="comment-more-bar">
                        <div class="comment-more-bg">
                            <div id="cmt-result" class="errMsg _errMsg"></div>
                            <ul style="display:none;" class="loading-line _loading">
                                <li class="loading-dot">1</li>
                                <li class="loading-dot">2</li>
                                <li class="loading-dot">3</li>
                                <li class="loading-dot">4</li>
                                <li class="loading-dot">5</li>
                            </ul>
                        </div>
                        <input type="button" class="said-btn ct-submit said-btn-default" name="submit" value="提交回复">
                    </div>
                </div>
            </form>
        </div>
        <div class="b-n">
            <nav id="a-nav" class="nav">
                <!--fixed-->
                <div class="nav-title">目录</div>
                <div class="an-c">
                    <div class="nav-bg" style="display:none;">&nbsp;</div>
                    <div class="an-body">
                        <ul class="anb-box">
                            @*<li class="active"><a href="#articleHeader0">Promise应对的问题</a></li>
                                <li><a href="#articleHeader1">Promise的解决</a></li>
                                <li>
                                    <a href="#articleHeader2">ECMAScript 6 Promise</a>
                                    <ul>
                                        <li><a href="#articleHeader3">Promise.prototype.then</a></li>
                                        <li><a href="#articleHeader3">Promise.constructor</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#articleHeader4">参考和引用</a>
                                </li>
                                <li><a href="#articleHeader5">Promise/A+规范</a></li>
                                <li><a href="#articleHeader6">ECMAScript 6 入门 - Promise对象</a></li>
                                <li><a href="#articleHeader7">Promise启示录</a></li>*@
                        </ul>
                    </div>
                </div>

            </nav>
        </div>


    </section>

</section>
@section Css{
    @Styles.Render("~/static/said/blog.css")
}
@section FootJs{
    @Scripts.Render("~/static/said/blog.js")
    <script type="text/javascript">
        @*var comments = [];
        @for (int i = 0; i < comments.Count; i++)//循环到js数据中
        {
            Write(new HtmlString(string.Format(
                 @"comments.push({{
                                    commentsId: '{0}',
                                    nickName: '{1}',
                                    site: '{2}',
                                    isAdmin:{3},
                                    anthor: 1,
                                }});", item.CName, item.CIcon, item.ClassifyId)));
        }
        comments.push({
            commentsId: '',
            nickName: '',
            site: '',
            isAdmin: false,
            anthor: 1,
            context: '',
            replys: [
                {
                    replys: 'replyId',
                    nickName: '', site: '', isAdmin: false, anthor: 1, context: '',
                    toReply: {
                        replyId: '',
                        nickName: '',
                        site: '',
                        isAdmin: false,
                        anthor: ''
                    }
                }
            ]
        });*@
        require(['blog'], function (view) {
            view("@Model.BlogId", "@ViewBag.UserId");
        });
    </script>
}