@using Said.Models
@model Blog
@{
    ViewBag.Title = Model.BTitle + " - Blog";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    bool userLike = (bool)ViewData["userLike"];
    IList<Comment> comments = ViewData["comments"] as IList<Comment>;
}
<div class="banner">
    <div class="banner-bg cover" style="background-image:url(/Content/images/bg/wap-blog-bg.jpg);"></div>
</div>
<section class="said-box">
    <article class="article-content" id="said-content">
        <h1 class="blog-title">@Model.BTitle</h1>
        <section class="blog-content">@(new HtmlString(Model.BHTML))</section>
    </article>
    <section class="blog-more-info">
        <div class="blog-more-head">
            <div class="info-like">
                <time class="info-date">@Model.Date.ToString("yyyy/MM/dd HH:mm")</time>
                <span href="javascript:;" class="info-cate"><i class="fa fa-th-large"></i>&nbsp;@Model.Classify.CName</span>
                <a href="javascript:;" class="@(userLike?"likeIt":string.Empty)" data-like="@(userLike?"true":"false")" title="我喜欢" id="said-like">
                    <i class="fa @(userLike?"fa-heart":"fa-heart-o") "></i><span class="like-sum" id="likeCount">@Model.Likes</span>
                </a>
            </div>
            <ul class="blog-info">
                <li>
                    <a class="licenses licenses-cc" href="@Url.Action("Cl", "Home", new {url= "http://creativecommons.org/licenses/by/3.0/cn/",sgs= "m-b-licenses" })">CC BY 3.0 CN</a>
                </li>
                <li><a href="/blog" class="blog-info-more">查看更多我的文章</a></li>
            </ul>
        </div>
    </section>
    @if (comments != null && comments.Count > 0)
    {
        <div class="comments">
            <span class="c-label">共@(Model.BComment)条评论</span>
            <ul class="c-list">
                @for (int i = 0; i < comments.Count; i++)
                {
                    Comment comment = comments[i];
                    <li class="c-item">
                        <div class="c-user said-ellipsis">
                            @if (comment.User.Rule == 1)//管理员
                            {
                                <a href="/">linkFly&nbsp;<i class="fa fa-user-secret"></i></a><span class="c-txt">&nbsp;回复:</span>
                            }
                            else {
                                if (!string.IsNullOrEmpty(comment.User.Site))//有输入站点
                                {
                                    <a href="@Url.Action("Cl", "Home", new {url= comment.User.Site,sgs=string.Format("b-w-c-{0}-{1}",Model.BlogId ,i + 1) })">@comment.User.Name</a><span class="c-txt">&nbsp;回复:</span>
                                }
                                else {
                                    <span>@comment.User.Name</span><span class="c-txt">&nbsp;回复:</span>
                                }
                            }
                        </div>
                        <span class="c-date">@Said.Common.SaidCommon.DateToLocalOrDay(comment.Date)</span>
                        <div class="c-context">@comment.Context</div>
                        @if (comment.Replys != null && comment.Replys.Count > 0)
                        {
                            <ul>
                                @for (int j = 0; j < comment.Replys.Count; j++)
                                {
                                    var reply = comment.Replys[j];
                                    <li class="c-item">
                                        <div class="c-title">
                                            <div class="c-user said-ellipsis">
                                                @if (reply.User.Rule == 1)//管理员
                                                {
                                                    <a href="/">linkFly&nbsp;<i class="fa fa-user-secret"></i></a>
                                                }
                                                else if (!string.IsNullOrEmpty(reply.User.Site))//有输入站点
                                                {
                                                    <a href="@Url.Action("Cl", "Home", new {url= reply.User.Site,sgs=string.Format("b-w-c-{0}-{1}-{2}",Model.BlogId ,i + 1,j+1) })">@reply.User.Name</a>
                                                }
                                                else {
                                                    <span>@reply.User.Name</span>
                                                }
                                                @if (reply.ToReply != null)
                                                {
                                                    if (reply.ToReply.User.Rule == 1)//回复里面的管理员
                                                    {
                                                        <span class="c-txt">&nbsp;回复:</span><a href="/">linkFly&nbsp;<i class="fa fa-user-secret"></i></a>
                                                    }
                                                    else if (reply.ToReply.User.Site != string.Empty)//有输入站点
                                                    {
                                                        <span class="c-txt">&nbsp;回复:</span><a href="@Url.Action("Cl", "Home", new { url = reply.ToReply.User.Site, sgs = string.Format("b-w-c-to-{0}-{1}-{2}", Model.BlogId, i + 1, j + 1) })">@reply.ToReply.User.Name</a>
                                                    }
                                                    else {
                                                        <span class="c-txt">&nbsp;回复:</span><span>@reply.ToReply.User.Name</span>
                                                    }
                                                }
                                                else {
                                                    @(":")
                                                }

                                            </div>
                                            <span class="c-date">@Said.Common.SaidCommon.DateToLocalOrDay(reply.Date)</span>
                                        </div>
                                        <div class="c-context">
                                            <p>@reply.Context</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    }

</section>
@section Css{
    @Styles.Render("~/static/wap/article.css", "~/static/wap/github.css")
}
@section FootJs{
    @Scripts.Render("~/static/wap/article.js")
    <script type="text/javascript">
        require(['article'], function (view) {
            view("@Model.BlogId");
        });
    </script>
}