@using Said.Models;
@{
    ViewBag.Title = "Blog - 每一行代码都恰到好处";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    IList<Blog> blogs = ViewData["blogs"] as IList<Blog>;
    IList<Classify> classifyList = ViewData["classifyList"] as IList<Classify>;
    Classify currClassify = ViewData["currClassify"] as Classify;
}

<div class="said-background" style="background-image: url(/Content/Images/bg/said_codebg.png)">
    <!--code-bg.jpg-->
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item said-banner-white">
                <h3 class="banner-title">Write the code,change the world</h3>
                <div class="banner-content">
                    <p>console.log('Hello,Wrold!');</p>
                    <p>(46840404742).toString(36).replace(/\u0066/,function(){ return arguments[0].toUpperCase(); });</p>
                </div>
            </li>
            @*<li class="said-banner-item said-banner-white" style="display: none;">
                    <h3 class="banner-title">Write the code,change the world</h3>
                    <div class="banner-content">
                        <p>字字斟酌，句句精妙</p>
                        <p>每一处代码都恰到好处</p>
                    </div>
                </li>*@
        </ul>
    </div>
</div>
<div class="blog-head">
    <div class="blog-cate-head afterClear">
        <h3 class="said-blog-title">
            @(currClassify == null ? "全部文章" : currClassify.CName) - 共@(blogs == null || blogs.Count() == 0 ? 0 : blogs.Count())篇
            @if (classifyList != null && classifyList.Count() > 0)
            {
                <a class="b-cate-btn @(currClassify==null?"":"open")" href="javascript:;" title="查看分类">
                    <span class="b-cate-txt">分类</span>
                    <label class="ico-l">
                        <span class="ico-l-a"><span class="ico-l-b"></span></span>
                        <span class="ico-l-c"><span class="ico-l-d"></span></span>
                    </label>
                </a>
            }
        </h3>
    </div>
    <div class="blog-category">
        @if (classifyList != null && classifyList.Count() > 0)
        {
            <div class="blog-cate-box">
                <div class="blog-cate-main">
                    <ul class="blog-other-list">
                        <li>
                            <a href="@Url.Action("Index","Blog")">
                                <img class="blog-other-icon" alt="" src="@(ViewBag.SourceURL + "default.png")" />全部
                            </a>
                        </li>
                        @foreach (var item in classifyList)
                        {
                            <li>
                                <a href="@Url.Action("Index","Blog", new { cate = item.ClassifyId })">
                                    <img class="blog-other-icon" alt="@item.CName" src="@(ViewBag.SourceURL + item.CIcon)" />@item.CName
                                </a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        }

    </div>
</div>
<section id="content">
    <div class="said-content afterClear">
        <div class="said-blog-content">
            @if (blogs != null && blogs.Count() > 0)
            {
                var lastDate = DateTime.MinValue;
                <section class="blog-box">
                    @foreach (var blog in blogs)
                    {
                        if (blog.Date.Year != lastDate.Year || blog.Date.Month != lastDate.Month)
                        {
                            lastDate = blog.Date;
                            <div class="b-year"><span class="by-txt">@lastDate.ToString("yyyy年MM月")</span></div>
                        }
                        <article class="b-item">
                            <div class="b-more">
                                <span>@Said.Common.SaidCommon.DateToLocalOrDay2(blog.Date)</span><small>@blog.Date.ToString("HH:mm")</small>
                            </div>
                            <div class="b-main">
                                <h2 class="b-title said-ellipsis">
                                    <a href="@string.Format("/blog/{0}.html",blog.BlogId)" class="b-title" title="点击查看文章">@blog.BTitle</a>
                                </h2>
                                <div class="b-summary">
                                    <p>@(new HtmlString(blog.BSummaryTrim))</p>
                                </div>
                                <footer class="b-footer">
                                    <span class="b-info link fa fa-th-large" title="分类"><a href="@Url.Action("Index","Blog", new { cate = blog.ClassifyId })">@blog.Classify.CName</a></span>
                                    <i class="fa fa-eye" title="浏览"></i>@blog.BPV
                                </footer>
                            </div>
                        </article>
                    }

                </section>
            }
            else {
                <div class="said-blog-notfound">
                    <div class="blog-notfound-Title">
                        <span>在该分类/标签下没有找到相关数据</span>
                        <a href="@Url.Action("Index","Blog")">查看全部文章</a>
                    </div>
                    @*<div class="blog-notfound-more">
                            <h4>推荐阅读</h4>
                            <ul>
                                <li class="said-ellipsis"><a href="javascript:;">ES6 promise的思考</a></li>
                                <li class="said-ellipsis"><a href="javascript:;">jQuery源码解读：jQuery.Event</a></li>
                                <li class="said-ellipsis"><a href="javascript:;">我的开源项目 - X.js</a></li>
                            </ul>
                        </div>*@
                </div>
            }
        </div>
    </div>
</section>

@section Css{
    @Styles.Render("~/static/said/blog.index.css")
}


@section FootJs{
    @Scripts.Render("~/static/said/blog.index.js")
}


