@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "Blog - 每一行代码都恰到好处";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    int total = (int)ViewData["total"];
    IList<Blog> blogs = ViewData["blogs"] as List<Blog>;
    int maxPage = (int)ViewData["maxPage"];
    int limit = (int)ViewData["limit"];
}

<div class="banner">
    <div class="banner-bg cover" style="background-image:url(/Content/images/bg/code-bg.jpg);"></div>
    <div class="banner-content anima fadeIn">
        <h1>Blog</h1>
        <p>Write the code</p>
        <p>change the world</p>
    </div>
</div>
<section class="said-box">
    <div class="said-list" id="said-list-box">
        <div class="module-title">
            <span>勤学</span>
        </div>
        @if (total > 0 && blogs != null)
        {

            foreach (Blog item in blogs)
            {
                <a class="said-item" href="@Url.Action("Article", "Blog", new { id = item.BlogId })">
                    <div class="item-context">
                        <div class="item-article">
                            <h2>@item.BTitle</h2>
                            <div class="article-txt line-clamp line2">@Html.Raw(item.BSummaryTrim)</div>
                            <div class="item-more">
                                <span class="cate">@item.Classify.CName</span>
                                <span class="fa fa-eye"><i class="globalFont">@item.BPV</i></span>
                                <time class="fa fa-calendar-o time"><i class="globalFont">@SaidCommon.DateToLocalOrDay(item.Date)</i></time>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
    @if (maxPage > 1)
    {
        <div class="said-next">
            <a id="said-nextPage" class="next-page" href="javascript:;"><span>点击加载更多</span><i class="fa fa-caret-down"></i></a>
            <span id="said-loading" class="next-page" style="display:none;">加载中<i class="fa fa-circle-o-notch fa-spin"></i></span>
        </div>
    }

</section>
@*@section Css{
        @Styles.Render("~/static/wap/blog.index.css")
    }*@


@section FootJs{
    @Scripts.Render("~/static/wap/blog.index.js")

    <script>
        require(['blog.index'], function (view) {
            view(@maxPage,@limit,'@Url.Action("GetBlogList", "Blog")','/blog/');
        });
    </script>
}


