@using Said.Common;
@using Said.Models
@{
    ViewBag.Title = "站点配置 - 配置Said的每一个细节";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
    IList<Banner> Models = ViewData["models"] as IList<Banner>;
}

@*<div class="page-header">
        <h3>站点配置&nbsp;<small>-&nbsp;配置Said的每一个细节</small><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></h3>
    </div>*@
<ol class="breadcrumb">
    <li><a href="/Back">Home</a></li>
    <li>配置中心</li>
    <li>站点配置</li>
    <li class="g-help"><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></li>
</ol>
<div id="said-help" class="said-mask-content said-watermark">
    <ul>
        <li>Banner的<span class="keywords">源码</span>支持HTML（含有&gt;的）和自动生成HTML源码（不含有&gt;，自动识别换行）</li>
        <li>多填写<span class="keywords">备注</span>信息，方便以后进行检索</li>
        <li>首页只会显示<span class="keywords">前5条</span>Banner</li>
    </ul>
</div>
<div ms-controller="vmPage">
    <div class="form-box" ms-visible="isShowForm">
        <div class="row">
            <div class="form-group mask-hover" ms-click="showImagesBox">
                <div style="cursor:pointer;" class="mask-box">
                    <span class="song-mask-text">选择图片</span>
                </div>
                <div class="mask-content" ms-css-background-image="url({{selectImagePath? selectImagePath : '/Source/Said/Thumbnail/007020150419145607.jpg'}})"></div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">备&#12288;&#12288;注</span>
                <input type="text" autocomplete="off" class="form-control" placeholder="备注（便于检索）" ms-duplex="Description" />
            </div>
            <div class="form-group input-group" ms-class="has-error:!Link">
                <span class="input-group-addon">链&#12288;&#12288;接</span>
                <input type="text" autocomplete="off" class="form-control" placeholder="点击后跳转的链接" ms-duplex="Link" />
            </div>

            <div class="tab-box">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#modelHTML" role="tab" data-toggle="tab" aria-controls="modelHTML" aria-expanded="false" title="支持换行自动生成和HTML生成">源码</a>
                    </li>
                    <li role="presentation">
                        <a href="#modelValue" role="tab" data-toggle="tab" aria-controls="modelValue" aria-expanded="false">预览</a>
                    </li>
                    <li class="teb-select">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ThemeText||'白色'}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:;" title="请选择文字显示主题（配合图片）" ms-click="selectTheme(0)">白色</a></li>
                                <li><a href="javascript:;" title="请选择文字显示主题（配合图片）" ms-click="selectTheme(1)">暗色</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="modelHTML" aria-labelledby="modelHTML-tab">
                        <textarea class="form-control" rows="3" ms-duplex="SourceCode" ms-change="changeModelHTML(SourceCode)"></textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="modelValue" aria-labelledby="modelValue-tab">{{HTML|html}}</div>
                </div>
                <div class="textCenter form-submit">
                    <button class="btn btn-info" type="button" ms-click="submit" ms-attr-disabled="lock">&#12288;&#12288;&#12288;添加&#12288;&#12288;&#12288;</button>
                    <button class="btn btn-default" type="button" ms-click="toggleShowStatus(false)" ms-attr-disabled="lock">&#12288;&#12288;&#12288;取消&#12288;&#12288;&#12288;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-table" ms-visible="!isShowForm">
        <div class="navbar-form navbar-left table-tool" id="custom-bar">
            <div class="data-form">
                <input readonly="" autocomplete="off" class="form-control" ms-dom="queryDate" data-date-today-btn="true" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" placeholder="筛选日期" value="" size="16">
                <button class="btn btn-success" ms-click="toggleShowStatus(true)">&#12288;新增&#12288;</button>
            </div>
        </div>
        <table data-toolbar="#custom-bar" id="btTable" class="table table-hover table-striped" data-striped="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-pagination="true"></table>
    </div>
</div>
@section Css{
    @Styles.Render("~/static/back/css/pageconfig.css", "~/static/back/css/bootstrap-table.css", "~/static/back/css/bootstrap-date.css")
}


@section FootJs{
    @Scripts.Render("~/static/back/js/home.config.js")
    <script>
        var PageDatas = [];
        @if (Models != null)
        {
            foreach (var item in Models)
            {
                Write(Html.Raw(string.Format("PageDatas.push({0});", JavaScriptCommon.Serialize(item))));
            }
        }
    </script>
    <script>
        var Action = {
            AddBanner: '@Url.Action("AddBanner", "Site")',
            GetImagesList: '@Url.Action("GetImagesList", "Image")',
            uploadImage: '@Url.Action("Upload", "Image")',
            realDeleteImage: '@Url.Action("RealDeleteImage","Image")',
            RemoveBanner: '@Url.Action("RemoveBanner","Site")'
        }, Source = {
            image: '@ConfigInfo.SourceSystemPath',
            maxSize: '@ConfigInfo.SizeSystem',
            imageType: '@((int)Said.Models.ImageType.System)',
            filters: ['jpg', 'jpeg', 'jpe', 'bmp', 'png', 'gif'/*, 'image/png', 'image/bmp', 'image/gif', 'image/jpeg'*/]
        },
        globalTheme = ['白色', '暗色'];


        require(['home.config'], function (view) {
            view(PageDatas, Action, Source, globalTheme);
        });


    </script>
}