@{
    ViewBag.Title = "访问概况";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
}

@*<div class="page-header">
        <h3>添加Said&nbsp;&nbsp;<small>&gt;添加一篇Said</small></h3>
    </div>*@
<ol class="breadcrumb">
    <li><a href="/Back">Home</a></li>
    <li>站点中心</li>
    <li class="active">访问概况</li>
</ol>
<div class="main-context" ms-controller="model">
    <div class="context-chart">
        <div id="userChart">
        </div>
    </div>
    <div class="bs-table">
        <div class="navbar-form navbar-left table-tool" id="toolbar">
            @*<div class="form-group">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectText}}&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="javascript:;" ms-click="selected(3,'按条件')">按条件</a></li>
                            <li><a href="javascript:;" ms-click="selected(0,'今天')">今天</a></li>
                            <li><a href="javascript:;" ms-click="selected(1,'一个月内')">一个月内</a></li>
                            <li><a href="javascript:;" ms-click="selected(2,'全部')">全部</a></li>
                        </ul>
                    </div>
                </div>*@
            <div class="form-group">
                <input size="16" value="" ms-dom="startDate" placeholder="开始时间" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-date-today-btn="true" class="form-control" autocomplete="off" readonly />
            </div>
            <div class="form-group">
                <input size="16" value="" ms-dom="endDate" placeholder="结束时间" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-date-today-btn="true" class="form-control" autocomplete="off" readonly />
            </div>
            <button type="button" class="btn btn-default" ms-click="query()">按时间查询</button>
            <button type="button" class="btn btn-default" ms-click="clearDate()">清除时间</button>
        </div>
        <!--data-search="true"-->
        <table id="btTable" class="table table-hover table-striped" data-toolbar="#toolbar" data-url="/Back/Site/GetRecord" data-striped="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-pagination="true" data-side-pagination="server"></table>
    </div>
</div>
@section Css{
    @Styles.Render("~/static/back/css/saidCenter", "~/static/back/css/bootstrap-date", "~/static/back/css/bootstrap-table")
    <style>
        /*boostrap-table的列表后加载出来，会造成页面出横向滚动条，是因为页面的宽度计算有问题（数据加载的多，会出竖向滚动条，竖向滚动条占据了空间，导致页面上的元素宽度计算不正确，从而出现横向滚动条），所以特殊处理下样式*/
        .main-context { overflow: hidden; }
        .context-chart { padding-right: 17px; }
    </style>
}
@section FootJs{
    @Scripts.Render("~/static/back/js/home.siterecord")
    <script>
        var Action = {
            article: '@Url.Action("Said", "Home")',
            img: '@Url.Action("UploadSaidImg", "Source")',
            imgLocation: '@Url.Content("~/Source/Said/Images/")',
            music: '@Url.Action("UploadMusic", "Source")',
            existsSongFile: '@Url.Action("ExistsSongFileName", "Back")',
            existsSaidName: '@Url.Action("ExistsSaidFileName", "Back")',
            form: '@Url.Action("AddSaid", "Back")'
        };
        require(['home.siterecord'], function (view) {
            view(Action);
        });
    </script>
}