<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    @{
        if (IsSectionDefined("meta"))
        {
            @RenderSection("meta")
        }
        else
        {
            <meta name="keywords" content="linkFly,Said,听说,tingshuo,blog,日志,博客,javascript,C#,Sql,nodeJS,music,音乐" />
            <meta name="description" content="听说，博客、音乐和技术分享、linkFly的个人博客，linkFly的音乐分享" />
        }
    }
    <meta http-equiv="description" content="听说 - linkFly" />
    <meta name="author" content="linkFly" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/static/wap/css/global.css")
    <link rel="shortcut icon" href="/content/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="/content/images/icons/favicon.png" />
    @Scripts.Render("~/static/w/requirejs.js")
    @Html.InlineScripts("~/static/wap/config.js")
    @{
        string actionName = ViewContext.RouteData.Values["action"].ToString();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    }
    @{
        if (IsSectionDefined("Css"))
        {
            @RenderSection("Css")
        }
    }
    @{
        if (IsSectionDefined("HeadJs"))
        {
            @RenderSection("HeadJs")
        }
    }
</head>
<body>
    <section class="page-container">
        <header class="navbar navbar-default" id="nav-bar">
            <div class="nav-container">
                <div class="logo white">
                    <a href="/" class="home">听说</a>
                </div>
                <a href="javascript:;" class="nav-btn" id="nav-btn">
                    <span class="ico-l-top"></span>
                    <span class="ico-l-bottom"></span>
                    <span class="ico-m-left"></span>
                    <span class="ico-m-right"></span>
                </a>
            </div>
        </header>
        <section class="inner-container" style="display:none;" id="navMask">
            <!--addClass:open-->
            <div class="nav-animate-box">
                <i class="menu-bg top" style=""></i>
                <i class="menu-bg middle" style=""></i>
                <i class="menu-bg bottom" style=""></i>
                <nav class="menu-container">
                    <ul class="menu">
                        <li>
                            <a href="/said">听说</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/about">关于</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Cl", "Home", new {url= "http://m.weibo.cn/u/1874981845",sgs="blog-dec" })">@@为你聚焦半世纪</a>
                        </li>
                        <li class="nav-By">
                            <span>听说 - by linkFly</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section id="said-page" class="page-content">
            @RenderBody()
        </section>
    </section>
    <footer class="footer">
        <div class="f-link">
            <a href="/" class="f-home">首页</a>
            <a href="/said" class="f-about l-line">听说</a>
            <a href="/blog" class="f-about l-line">Blog</a>
            <a href="/about" class="f-about l-line">关于</a>
        </div>
        <div class="logo-box">
            <div class="logo blackTxt">
                <a href="/" class="home">听说</a>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/static/wap/global.js")
    <script>
        var dateNow = '@Said.Common.SaidCommon.GetTimeStamp()';
    </script>
    @{
        if (IsSectionDefined("FootJs"))
        {
            @RenderSection("FootJs")
        }
    }
    <img src="//c.cnzz.com/wapstat.php?siteid=1260021113&r=@(Request.UrlReferrer != null && "" != Request.UrlReferrer.ToString() ?  Url.Encode(Request.UrlReferrer.ToString()) : "")&rnd=@(new Random().Next(0x7fffffff).ToString())" />
</body>
</html>
