<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    @{
        if (IsSectionDefined("meta"))
        {
            @RenderSection("meta");
        }
        else
        {
            <meta name="keywords" content="linkFly,Said,听说,tingshuo,blog,日志,博客,javascript,C#,Sql,nodeJS,music,音乐" />
            <meta name="description" content="听说，博客、音乐和技术分享、linkFly的个人博客，linkFly的音乐分享" />
        }
    }
    <meta http-equiv="description" content="听说 - linkFly" />
    <meta name="author" content="linkFly" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/wap/style/layout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style/font-awesome.min.css?v=1.0")" rel="stylesheet">
    <link href="@Url.Content("~/Content/wap/style/wap.css")" re rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" />
    <script src="@Url.Content("~/Content/Back/JavaScript/requirejs-2.1.15.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/main.js?v=1")"></script>
    @{
        string actionName = ViewContext.RouteData.Values["action"].ToString();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    }
    @{
        if (IsSectionDefined("Css"))
        {
            @RenderSection("Css")
        }
    }
    @{
        if (IsSectionDefined("HeadJs"))
        {
            @RenderSection("HeadJs")
        }
    }
</head>
<body>
    <section class="page-container">
        <header class="navbar navbar-default">
            <div class="nav-container">
                <div class="logo">
                    <a href="/" class="home">听说</a>
                </div>
            </div>
        </header>
        <section id="said-page">
            @RenderBody()
        </section>
    </section>
    <footer class="footer">
        <div class="f-link">
            <a href="/" class="f-home">首页</a>
            <a href="/about" class="f-about">关于</a>
        </div>
        <div class="logo-box">
            <div class="logo">
                <a href="/" class="home">听说</a>
            </div>
        </div>
    </footer>
    <script src="@Url.Content("~/Content/Back/JavaScript/jQuery-2.1.1.js?v=1.0")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/so/so.js")"></script>
    <script>
        var dateNow = '@Said.SaidCommon.GetTimeStamp()';
    </script>
    @{
        if (IsSectionDefined("FootJs"))
        {
            @RenderSection("FootJs")
        }
    }
</body>
</html>
