@{
    int NavigatorIndex = 0;
    int.TryParse(ViewData["NavigatorIndex"] + "", out NavigatorIndex);

}
<!DOCTYPE html>
<html>
<head>
    @{
        if (IsSectionDefined("meta"))
        {
            @RenderSection("meta");
        }
        else
        {
            <meta name="keywords" content="linkFly,Said,听说,tingshuo,blog,日志,博客,javascript,C#,Sql,nodeJS,music,音乐" />
            <meta name="description" content="听说，博客、音乐和技术分享、linkFly的个人博客，linkFly的音乐分享" />
        }
    }
    <meta http-equiv="description" content="听说 - linkFly" />
    <meta name="author" content="linkFly" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    @*<meta http-equiv-"x-ua-compatible" content="IE =9" />*@
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content//Style/Global.css?v=1.0")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Style/font-awesome.min.css?v=1.0")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Style/layout.css?v=1.0")" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" />
    <script src="@Url.Content("~/Content/Back/JavaScript/requirejs-2.1.15.js?v=1.0")"></script>
    <script src="@Url.Content("~/Content/JavaScript/require.config.js?v=1.0")"></script>
    @{
        if (IsSectionDefined("Css"))
        {
            @RenderSection("Css")
        }
    }
    @{
        if (IsSectionDefined("HeadJs"))
        {
            @RenderSection("HeadJs")
        }
    }
</head>
<body>
    <h1 class="seo">
        <img src="/Content/Images/said-logo.png" alt="听说 - linkFly">
        一首歌，一个故事，一些技术文章，一些项目——欢迎听说我的故事。
    </h1>
    @{
        if (ViewBag.overridePage == true)
        {
            @RenderBody();
        }
        else
        {
            <section id="said-page">
                <header id="header">
                    <div id="nav-logo">
                        <a class="logo" title="听说" href="/"></a>
                    </div>
                    <nav id="nav">
                        <ul id="nav-flip">
                            <li class="@(NavigatorIndex ==0 ? "nav-active" : "")"><a href="/">首页</a></li>
                            <li class="@(NavigatorIndex ==1 ? "nav-active" : "")"><a href="javascript:void(0);">blog</a></li>
                            <li class="@(NavigatorIndex ==2 ? "nav-active" : "")"><a href="/said">听说</a></li>
                            <li class="@(NavigatorIndex ==3 ? "nav-active" : "")"><a href="/projects">项目</a></li>
                            <li class="@(NavigatorIndex ==4 ? "nav-active" : "")"><a href="javascript:void(0);">实验室</a></li>
                            <li class="@(NavigatorIndex ==5 ? "nav-active" : "")"><a href="/about">关于</a></li>
                        </ul>
                        @*<div id="said-search-con" style="width: 50px;">
                                <div id="said-search">
                                    <!--hover : said-search-focus-->
                                    <div id="said-search-btn" title="搜索">
                                    </div>
                                    <form action="/" id="said-search-form">
                                        <input autocomplete="off" id="said-search-input" type="text" placeholder="搜索你感兴趣的，Enter搜索" />
                                    </form>
                                </div>
                            </div>*@
                        <!--70一个单位-->
                        <span id="nav-hover" style="left: @(NavigatorIndex * 70)px"></span>
                    </nav>
                </header>
                @RenderBody()
            </section>
            if (IsSectionDefined("overrideFooter"))
            {
                @RenderSection("overrideFooter")
            }
            else
            {
                <footer id="footer">
                    <section id="footer-content">
                        <dl>
                            <dt>推荐</dt>
                            <dd>
                                <ul class="footer-recm">
                                    <li><a target="_blank" href="http://www.cnblogs.com/dojo-lzz/">博客园 - 木的树 - 我的小树林</a></li>
                                    <li><a target="_blank" href="http://www.zhangxinxu.com/php/">张鑫旭的个人博客</a></li>
                                    <li><a target="_blank" href="http://www.cnblogs.com/rubylouvre/">司徒正美个人博客 - 博客园</a></li>
                                    <li><a target="_blank" href="https://github.com/linkFly6">Github - linkFly</a></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                许可
                            </dt>
                            <dd>
                                本站原创并且没有注明相关许可协议的内容，默认均采用<a href="http://creativecommons.org/licenses/by/3.0/cn/" target="_blank">《知识共享署名 3.0 中国大陆许可协议》</a>进行许可。非原创内容遵循原文许可协议。
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                联系方式
                            </dt>
                            <dd>内容基本都是自己原创的，引用的地方都会给出相关引用，如有疏漏，联系方式：</dd>
                            <dd>linkFly6#live.com（#替换成@@）</dd>
                        </dl>
                        <!--页脚替换到当前时间-->
                        <div class="footer-copyright">©2016&nbsp;linkFly&nbsp;-&nbsp;Said:听说</div>
                    </section>

                </footer>
            }
        }
    }
    <script src="@Url.Content("~/Content/JavaScript/jQuery-2.1.1.js?v=1.0")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/so/so.js?v=1.0")"></script>
    <script src="@Url.Content("~/Content/JavaScript/said/global.js?v=1.0")"></script>
    @{
        if (IsSectionDefined("FootJs"))
        {
            @RenderSection("FootJs")
        }
    }
</body>
</html>
