@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    string saidResourcePath = ConfigInfo.SourceSaidThumbnailPath;
    int maxPage = (int)ViewData["maxPage"];
}
<div class="banner">
    <div class="banner-bg" style="background-image:url(/Content/Images/bg/6033.jpg);"></div>
    <div class="banner-content">
        <h1>世界很大，风住过这里</h1>
        <p>听说</p>
        <p>这里发生过太多的事情</p>
    </div>
</div>
<section class="said-box">
    <div class="said-list" id="said-list-box">
        @{
            if (articles != null)
            {
                foreach (Article item in articles)
                {
                    <a class="said-item clear" href="@Url.Action("Article", "Said", new { id = item.SaidId })">
                        <div class="item-bg" style="background-image:url(@saidResourcePath@item.Image.IFileName)"></div>
                        <div class="item-context">
                            <div class="item-article">
                                <h2 class="said-ellipsis">@item.STitle</h2>
                                <div class="article-txt line-clamp line2">@item.SSummary</div>
                                <div class="item-more">
                                    <span class="fa fa-heart-o" title="like"><i>@item.Likes</i></span>
                                    <time>@SaidCommon.DateToLocalOrDay(item.Date)</time>
                                </div>
                            </div>
                            @*<ul class="item-txt">
                                    <li><h2 class="said-ellipsis">@item.STitle</h2></li>
                                    <li class="item-more"></li>
                                </ul>*@
                        </div>
                    </a>
                }
            }
        }
    </div>
    @{

        if (maxPage > 1)
        {
            <div class="said-next">
                <a id="said-nextPage" class="next-page" href="javascript:;"><span>点击加载更多</span><i class="fa fa-caret-down"></i></a>
                <span id="said-loading" class="next-page" style="display:none;">加载中<i class="fa fa-circle-o-notch fa-spin"></i></span>
            </div>
        }
    }

</section>

@section Css{
    <link href="@Url.Content("~/Content/wap/style/index.css?v=1.1")" rel="stylesheet">
}

@section FootJs{
    @Scripts.Render("~/static/wap/index.js")
    <script>
        var Resource = {
            said: '@saidResourcePath'
        },
        Action = {
            getSaidList: '@Url.Action("GetSaidList", "Said")',
            said: '/Said/'
        },
        maxPage = +'@maxPage';

        require(['index'], function (view) {
            view(Resource, Action, maxPage);
        });
    </script>

}