@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    string saidResourcePath = ConfigInfo.SourceSaidThumbnailPath;
    int maxPage = (int)ViewData["maxPage"];
}
@section Css{
    <link href="@Url.Content("~/Content/wap/style/index.css?v=1.1")" rel="stylesheet">
}
<div class="banner">
    <div class="banner-bg" style="background-image:url(/Content/Images/bg/6033.jpg);"></div>
    <div class="banner-content">
        <h1>世界很大，风住过这里</h1>
        <p>听说</p>
        <p>这里发生过太多的事情</p>
    </div>
</div>
<section class="said-box">
    <div class="said-list" id="said-list-box">
        @{
            if (articles != null)
            {
                foreach (Article item in articles)
                {
                    <a class="said-item clear" href="@Url.Action("Article", "Said", new { id = item.SaidId })">
                        <div class="item-bg" style="background-image:url(@saidResourcePath@item.Image.IFileName)"></div>
                        <div class="item-context">
                            <div class="item-article">
                                <h2 class="said-ellipsis">@item.STitle</h2>
                                <div class="article-txt line-clamp line2">@item.SSummary</div>
                                <div class="item-more">
                                    <span class="fa fa-heart-o" title="like"><i>@item.Likes</i></span>
                                    <time>@Said.SaidCommon.DateToLocalOrDay(item.Date)</time>
                                </div>
                            </div>
                            @*<ul class="item-txt">
                                    <li><h2 class="said-ellipsis">@item.STitle</h2></li>
                                    <li class="item-more"></li>
                                </ul>*@
                        </div>
                    </a>
                }
            }
        }
    </div>
    @{

        if (maxPage > 1)
        {
            <div class="said-next">
                <a id="said-nextPage" class="next-page" href="javascript:;"><span>点击加载更多</span><i class="fa fa-caret-down"></i></a>
                <span id="said-loading" class="next-page" style="display:none;">加载中<i class="fa fa-circle-o-notch fa-spin"></i></span>
            </div>
        }
    }

</section>

@section FootJs{
    <script>
        var Resource = {
            said: '@saidResourcePath'
        },
        Action = {
            getSaidList: '@Url.Action("GetSaidList", "Said")',
            said: '/Said/'
        },
        maxPage = +'@maxPage';
        require(['jquery', 'so'], function ($, _) {
            $(function () {
                var currentPageIndex = 2,
                    $nextPage = $('#said-nextPage'),//下一页按钮
                    $loading = $('#said-loading'),//加载中
                    $nextPageText = $nextPage.find('span'),//下一页按钮文案
                    $saidListBox = $('#said-list-box'),//Said列表容器
                    htmlTemplates = {
                        said: '<a class="said-item clear" href="${url}">\
                        <div class="item-bg" style="background-image:url(${imgUrl}"></div>\
                        <div class="item-context">\
                            <div class="item-article">\
                                <h2 class="said-ellipsis">${title}</h2>\
                                <div class="article-txt line-clamp line2">${summary}</div>\
                                <div class="item-more">\
                                    <span class="fa fa-heart-o" title="like"><i>${likes}</i></span>\
                                    <time>${date}</time>\
                                </div>\
                            </div></div></a>'
                    };
                $nextPage.on('click', function () {
                    $loading.show();
                    $nextPage.hide();
                    $.ajax({
                        url: Action.getSaidList,
                        type: "post",
                        //contentType: "application/json; charset=utf-8",
                        //contentType: "application/json", //jQuery默认头是提交表单的："application/x-www-form-urlencoded; charset=UTF-8"
                        dataType: "json",
                        data: { limit: 10, offset: parseInt((currentPageIndex - 1) * 10) }
                    }).done(function (data) {
                        if (data.total > 0) {
                            var htmls = [];
                            data.rows.forEach(function (item) {
                                htmls.push(_.format(htmlTemplates.said, {
                                    url: Action.said + item.SaidId + '.html',
                                    imgUrl: Resource.said + item.Image.IFileName,
                                    title: item.STitle,
                                    summary: item.SSummaryTrim,
                                    likes: item.Likes,
                                    date: _.dateToLocal(item.Date, window.dateNow, 'yyyy-MM-dd')
                                }));
                            });
                            $saidListBox.append(htmls.join(''));
                            if (currentPageIndex >= maxPage) {
                                $nextPage.parent().hide();
                            } else {
                                currentPageIndex++;
                                $nextPage.show();
                                $nextPageText.html('点击加载更多');
                            }
                        } else {
                            $nextPage.show();
                            $nextPageText.html('加载失败，点击重新加载');
                        }

                    }).fail(function () {
                        $nextPage.show();
                    }).always(function () {
                        $loading.hide();
                    });
                });

            });
        });
    </script>

}