@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    IList<Blog> blogList = ViewData["blogList"] as List<Blog>;
    string saidResourcePath = ConfigInfo.SourceSaidThumbnailPath;
}
<div class="index-background">
    <ul class="index-banner" id="banner-box">
        <li class="banner-item banner-white" style="background-image: url(/Content/Images/bg/6036.jpg);opacity:1;z-index:2;">
            <div class="banner-item-box">
                <div class="banner-content">
                    <h3 class="banner-title">
                        <img src="/Content/Images/said-logo.png" draggable="false" />
                    </h3>
                    <div class="banner-text">
                        <p>我有一些故事</p>
                        <p>觉得让它们在时间里老去有点不妥</p>
                        <p>于是我把它们分别折进一首歌里</p>
                        <p>在百无聊赖的下午</p>
                        <p>与你分享</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="banner-item  banner-white" style="background-image: url(/Content/Images/bg/Reine-Norway.jpg);">
            <div class="banner-item-box">
                <div class="banner-content">
                    <h3 class="banner-title">世界很大，风住过这里</h3>
                    <div class="banner-text">
                        <p>有些事让我无能无力</p>
                        <p>比如翘起的头发，冰冷的手，还有遥远的你</p>
                        <p>但有些事我还想尽力而为</p>
                        <p>比如倒数的生命，熬夜的瘾，还有遥远的你</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="said-banner-footer" id="banner-footer">
        <li class="said-banner-ring active">1</li>
        <li class="said-banner-ring">2</li>
    </ul>
    <a href="javascript:;" class="banner-arrow arrow-left"></a>
    <a href="javascript:;" class="banner-arrow arrow-right"></a>
</div>
<section id="content">
    <div class="said-content">
        <div class="said-module">
            <div class="module-title">
                <h1>听·说</h1>
                <p><i class="fa fa-quote-left"></i>让思想安静片刻，让耳朵沉沦音乐<i class="fa fa-quote-right"></i></p>
                <a href="/Said" class="module-more-link icon-coffee">查看更多听说</a>
            </div>
            <ul class="module-content afterClear">
                @{
                    if (articles != null)
                    {
                        foreach (Article item in articles)
                        {
                            <li class="blog-item said-item">
                                <div class="module-img-con" style="background-image: url(@saidResourcePath@item.Image.IFileName);">
                                    <div class="module-mask">
                                        <div class="module-summary">@Html.Raw(item.SSummaryTrim)</div>
                                    </div>
                                </div>
                                <div class="module-info">
                                    <h2><a href="/Said/@(item.SaidId).html" class="module-item-title said-ellipsis" title="@item.STitle">@item.STitle</a></h2>
                                    <time class="blog-date">@SaidCommon.DateToLocal(item.Date) @SaidCommon.DateToLocalWeek(item.Date)</time>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </div>
        <div class="said-module">
            <div class="module-title">
                <h1>博客精选</h1>
                <p><i class="fa fa-quote-left"></i>泡上咖啡，我们用舒服的方式聊聊技术<i class="fa fa-quote-right"></i></p>
                <a href="/blog" class="module-more-link icon-coffee">查看更多精彩技术文章</a>
            </div>
            <ul class="module-content afterClear blog-content">
                @if (blogList != null)
                {
                    foreach (Blog item in blogList)
                    {
                        <li class="blog-item">
                            <div class="b-main">
                                <h2 class="b-title said-ellipsis">
                                    <a href="@string.Format("/blog/{0}.html",item.BlogId)" class="b-title">@item.BTitle</a>
                                </h2>
                                <div class="b-summary">
                                    <p>@Html.Raw(item.BSummaryTrim)</p>
                                </div>
                                <footer class="b-footer">
                                    <a class="b-info link fa fa-th-large" title="分类" href="@Url.Action("Index","Blog", new { cate = item.ClassifyId })">&nbsp;<span class="b-cate">@item.Classify.CName</span></a>
                                    <i class="fa fa-eye b-pv" aria-hidden="true" title="浏览">&nbsp;<span class="pv-txt">@item.BPV</span></i>
                                    <span class="b-date">@SaidCommon.DateToLocal(item.Date) @SaidCommon.DateToLocalWeek(item.Date)</span>
                                </footer>
                            </div>
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="said-module">
            <div class="module-title">
                <h1>实验室</h1>
                <p><i class="fa fa-quote-left"></i>锤炼卓越的作品，心怀信仰，所以天马星空<i class="fa fa-quote-right"></i></p>
                <p>敬请期待</p>
                <!--首页的实验室模块，设计就用mac截图自己的实验室作品挂上来就可以了，hiahia-->
                <!--<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f4610122065c687be0a214cfb249a75e0a43d9d5c65a71277ba4aff03b25e9c6" class="module-more-link icon-coffee">点击加入QQ群</a>-->
            </div>
        </div>
    </div>
</section>
@section Css{
    @Styles.Render("~/static/said/index.css")
}
@section FootJs{
    @Scripts.Render("~/static/said/home.index.js")
}
