@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    string saidResourcePath = ConfigInfo.SourceSaidPath;

}
@section Css{
    <link href="@Url.Content("~/Content/Style/index.css?v=1.0")" rel="stylesheet">
}
<div class="index-background">
    <ul class="index-banner" id="banner-box">
        <li class="banner-item banner-white" style="background-image: url(/Content/Images/bg/6036.jpg);opacity:1;z-index:2;">
            <div class="banner-item-box">
                <div class="banner-content">
                    <h3 class="banner-title">
                        <img src="/Content/Images/said-logo.png" draggable="false" />
                    </h3>
                    <div class="banner-text">
                        <p>我有一些故事</p>
                        <p>觉得让它们在时间里老去有点不妥</p>
                        <p>于是我把它们分别折进一首歌里</p>
                        <p>在百无聊赖的下午</p>
                        <p>与你分享</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="banner-item" style="background-image: url(/Content/Images/bg/6033.jpg);">
            <div class="banner-item-box">
                <div class="banner-content">
                    <h3 class="banner-title">Write the code, change the world</h3>
                    <div class="banner-text">
                        <p>console.log('Hello,Wrold!');</p>
                        <p>任何可以使用JavaScript来编写的应用，最终都会由JavaScript编写。</p>
                        <p>(46840404742).toString(36).replace(/\u0066/,function(){ return arguments[0].toUpperCase(); });</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="banner-item  banner-white" style="background-image: url(/Content/Images/bg/Reine-Norway.jpg);">
            <div class="banner-item-box">
                <div class="banner-content">
                    <h3 class="banner-title">世界很大，风住过这里</h3>
                    <div class="banner-text">
                        <p>有些事让我无能无力</p>
                        <p>比如翘起的头发，冰冷的手，还有遥远的你</p>
                        <p>但有些事我还想尽力而为</p>
                        <p>比如倒数的生命，熬夜的瘾，还有遥远的你</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="said-banner-footer" id="banner-footer">
        <li class="said-banner-ring active">1</li>
        <li class="said-banner-ring">2</li>
        <li class="said-banner-ring">3</li>
    </ul>
    <a href="javascript:;" class="banner-arrow arrow-left"></a>
    <a href="javascript:;" class="banner-arrow arrow-right"></a>
</div>
<section id="content">
    <div class="said-content">
        <div class="said-module">
            <div class="module-title">
                <h1>听·说</h1>
                <p><i class="fa fa-quote-left"></i>让思想安静片刻，让耳朵沉沦音乐<i class="fa fa-quote-right"></i></p>
                <a href="/Said" class="module-more-link icon-coffee">查看更多听说</a>
            </div>
            <ul class="module-content afterClear">
                @{
                    if (articles != null)
                    {
                        foreach (Article item in articles)
                        {
                            <li class="blog-item">
                                <div class="module-img-con" style="background-image: url(@saidResourcePath@item.Image.IFileName);">
                                    <div class="module-mask">
                                        <div class="module-summary">@(new HtmlString(item.SSummaryTrim))</div>
                                    </div>
                                </div>
                                <div class="module-info">
                                    <h2><a href="/Said/@(item.SaidId).html" class="module-item-title said-ellipsis" title="@item.STitle">@item.STitle</a></h2>
                                    <time class="blog-date">@Said.SaidCommon.DateToLocal(item.Date) @Said.SaidCommon.DateToLocalWeek(item.Date)</time>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </div>
        <div class="said-module">
            <div class="module-title">
                <h1>博客精选</h1>
                <p><i class="fa fa-quote-left"></i>泡上咖啡，我们用舒服的方式聊聊技术<i class="fa fa-quote-right"></i></p>
                <p>正在开发中，敬请期待</p>
                @*<a href="javascript:;" class="module-more-link">查看更多精彩技术文章</a>*@
                <a href="http://www.cnblogs.com/silin6/" target="_blank" class="module-more-link icon-coffee">我的博客园</a>
            </div>
            <div class="module-content afterClear">
                @*<div class="said-main">
                    <a class="said-main-img" href="javascript:;" style="background-image: url(../../Content/Images/UEDImg/1164878.jpg);">
                        <div class="module-mask">
                            <div class="said-main-context">
                                <h2 class="said-main-title">世界很大，风住过这里</h2>
                                <div class="said-main-summary">
                                    <p>在一段不算明媚的日子里，黄叶随风而舞，捎来了秋日即将来劲的口信。我不明白自己为何如何如此期怀这样一个秋，或许是秋日寄托了太多儿时的情感，在家乡那个古老的院墙上吹拂着放纵而无邪的青春，那时候漫天飞舞的黄叶注定了一种难以释怀的情结。</p>
                                    <p>秋之美丽在于流逝——所有的美丽，源于流逝。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@
                @*<ul>
                    <li class="said-item">
                        <div class="module-img-con said-img" style="background-image: url(../../Content/Images/UEDImg/TuscanyItaly1.jpg);">
                            <div class="module-mask">
                                <div class="module-summary">
                                    <p>在一段不算明媚的日子里，黄叶随风而舞，捎来了秋日即将来劲的口信。我不明白自己为何如何如此期怀这样一个秋，或许是秋日寄托了太多儿时的情感，在家乡那个古老的院墙上吹拂着放纵而无邪的青春，那时候漫天飞舞的黄叶注定了一种难以释怀的情结。</p>
                                    <p>秋之美丽在于流逝——所有的美丽，源于流逝。</p>
                                </div>
                            </div>
                        </div>
                        <div class="said-music">
                            <div class="music-img">
                                <div class="music-ring"></div>
                                <img title="paramore" alt="test" src="/Content/Images/UEDImg/28576941_1391673826_ncZU.jpg" />
                            </div>
                            <div class="music-info">
                                <h2><a href="javascript:;" class="module-item-title said-ellipsis" title="世界很大，风住过这里，这个标题很长，测试一下看看行不行">世界很大，风住过这里，这个标题很长，测试一下看看行不行</a></h2>
                                <h4 title="千里之外 - 周杰伦" class="music-artist said-ellipsis">千里之外 - 周杰伦</h4>
                                <time class="said-date">2015-05-20 星期一</time>
                            </div>
                        </div>
                    </li>
                    <li class="said-item">
                        <div class="module-img-con said-img" style="background-image: url(../../Content/Images/UEDImg/0150427135119.jpg);">
                            <div class="module-mask">
                                <div class="module-summary">
                                    <p>突然想要走一段陌生的路，让自己无谓一点。 </p>
                                    <p>外面突然下起了雨，偶尔让晚九点的天空白了一瞬。就好像天公懂的作美，陪衬着你的心情，加一杯调料。 </p>
                                    <p>突然很安静，就好像世界空了一点点，灯已经关上，夜已经沉重。 </p>
                                    <p>不由自主的学会疗伤，从一个未知点开始，不由自主的，也许是从一个闪电，就如灵感一般把控不住的。这是王者的法则？还是弱者的悲情？ 突然想单曲循环一首歌，让心跳不会去选择沉闷。 从一个初夏循环到一个雪落，也许需要一点漫长的东西酝酿一种感觉，否则就没有起伏让自己懂的</p>
                                </div>
                            </div>
                        </div>
                        <div class="said-music">
                            <div class="music-img">
                                <div class="music-ring"></div>
                                <img title="paramore" alt="test" src="/Content/Images/UEDImg/8f366562-afce-4f15-baf3-3bccdcf51aa6.jpg" />
                            </div>
                            <div class="music-info">
                                <h2><a href="javascript:;" class="module-item-title said-ellipsis" title="风住过的地方">风住过的地方</a></h2>
                                <h4 title="Where We Are - Westlife" class="music-artist said-ellipsis">Where We Are - Westlife</h4>
                                <time class="said-date">2015-05-21 星期四</time>
                            </div>
                        </div>
                    </li>
                </ul>*@
            </div>
        </div>
        <div class="said-module">
            <div class="module-title">
                <h1>实验室</h1>
                <p><i class="fa fa-quote-left"></i>锤炼卓越的作品，心怀信仰，所以天马星空<i class="fa fa-quote-right"></i></p>
                <p>敬请期待</p>
                <!--首页的实验室模块，设计就用mac截图自己的实验室作品挂上来就可以了，hiahia-->
                <!--<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f4610122065c687be0a214cfb249a75e0a43d9d5c65a71277ba4aff03b25e9c6" class="module-more-link icon-coffee">点击加入QQ群</a>-->
            </div>
        </div>
    </div>
</section>
@section FootJs{
    <script>
        require(['jquery', 'so'], function ($, so) {
            var $bannerItems = $('#banner-box').find('li'),//banner项
                $rings = $('#banner-footer').find('li'),//banner小圆点
                $arrows = $('.banner-arrow'),//左右翻页banner
                $currBannerItem = $bannerItems.eq(0),//当前显示的banner
                maxBannerIndex = $bannerItems.length - 1,//banner最大值
                currBannerIndex = 0,//banner当前滑动页
                intervalId,
                start = function () {//banner动画开始
                    clearInterval(intervalId);
                    intervalId = setInterval(function () {
                        currBannerIndex++;
                        if (currBannerIndex > maxBannerIndex) {
                            toggleBanner(0);
                        } else
                            toggleBanner(currBannerIndex);
                    }, 8000);
                },
                stop = function () {//banner动画停止
                    clearInterval(intervalId);
                },
                //切换banner
                toggleBanner = function (index) {
                    currBannerIndex = index;
                    $currBannerItem.stop().animate({ 'opacity': 0, 'z-index': 1 }, 500);
                    $currBannerItem = $bannerItems.eq(index).stop().animate({ 'opacity': 1, 'z-index': 2 }, 500);
                    $rings.removeClass('active').eq(index).addClass('active');
                };

            //点击小按钮
            $rings.each(function (i) {
                $(this).on('click', function () {
                    if (currBannerIndex === i) return;
                    toggleBanner(i);
                }).hover(function () {
                    stop();
                }, function () {
                    start();
                });
            });
            $arrows.each(function (i) {
                var func = i ?
                    function () {//向右
                        return currBannerIndex == maxBannerIndex ? 0 : currBannerIndex + 1;
                    } :
                    function () {//向左
                        return currBannerIndex == 0 ? maxBannerIndex : currBannerIndex - 1;
                    };
                $(this).on('click', function () {
                    toggleBanner(func());
                    start();
                });
            });
            start();
        });
    </script>
}
