@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    IList<Blog> blogs = ViewData["blogList"] as List<Blog>;
    string saidResourcePath = ConfigInfo.SourceSaidThumbnailPath;
}
<div class="banner">
    <div class="banner-bg" style="background-image:url(/content/images/bg/saidbg.jpg)"></div>
    <div class="banner-content">
        <h1 class="anima fadeIn">听&nbsp;说</h1>
        <p>世界很大</p>
        <p>风住过这里</p>
    </div>
</div>
<section class="said-box">
    <div class="said-list">
        <div class="module-title">
            <span>听&#183;说</span>
        </div>
        @if (articles != null)
        {
            foreach (Article item in articles)
            {
                <a class="said-item" href="@Url.Action("Article", "Said", new { id = item.SaidId })">
                    <div class="item-bg" style="background-image:url(@saidResourcePath@item.Image.IFileName)"></div>
                    <div class="item-context">
                        <div class="item-article">
                            <h2>@item.STitle</h2>
                            <div class="item-music said-ellipsis">
                                <i class="fa fa-music"></i>@item.Song.SongName@Html.Raw("&nbsp;-&nbsp;")@item.Song.SongArtist
                            </div>
                            <div class="article-txt line-clamp line2">@Html.Raw(item.SSummaryTrim)</div>
                            <div class="item-more">
                                <span class="fa fa-eye"><i class="globalFont">@item.SPV</i></span>
                                <time class="fa fa-calendar-o time"><i class="globalFont">@SaidCommon.DateToLocalOrDay(item.Date)</i></time>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
        <div class="said-more">
            <a href="/said" class="said-more-link">查看更多听说</a>
        </div>
    </div>
    <div class="said-list" id="said-list-box">
        <div class="module-title">
            <span>Blog</span>
        </div>
        @if (blogs != null)
        {
            foreach (Blog item in blogs)
            {
                <a class="said-item" href="@Url.Action("Article", "Blog", new { id = item.BlogId })">
                    <div class="item-context">
                        <div class="item-article">
                            <h2>@item.BTitle</h2>
                            <div class="article-txt line-clamp line2">@Html.Raw(item.BSummaryTrim)</div>
                            <div class="item-more">
                                <span class="cate">@item.Classify.CName</span>
                                <span class="fa fa-eye"><i class="globalFont">@item.BPV</i></span>
                                <time class="fa fa-calendar-o time"><i class="globalFont">@SaidCommon.DateToLocalOrDay(item.Date)</i></time>
                            </div>
                        </div>
                    </div>
                </a>
            }
                            }
        <div class="said-more">
            <a href="/blog" class="said-more-link">查看更多Blog</a>
        </div>
    </div>
</section>

@*@section FootJs{}*@