@using Said.Common;
@{
    ViewBag.Title = "Said管理 - 音乐管理";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
}
@*<div class="page-header">
        <h3>音乐管理&nbsp;&nbsp;<small>&gt;&nbsp;管理每一个跳动的音符，悸动的每一个时代</small><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></h3>
    </div>*@
<ol class="breadcrumb">
    <li><a href="/Back">Home</a></li>
    <li>资源管理</li>
    <li class="active">音乐管理</li>
    <li class="g-help"><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></li>
</ol>
<div id="said-help" class="said-mask-content said-watermark">
    <ul>
        <li>Said生成的缩略图不能有<span class="keywords">透明背景</span>（因为缩略图最终生成是jpg格式的）</li>
        <li>上传的图片，最后会被裁剪为<span class="keywords">1.82</span>比例的图片</li>
        <li>上传的图片不允许超过<span class="keywords">1MB</span></li>
        <li>上传的音乐文件不允许超过<span class="keywords">10MB</span></li>
        <li>上传的歌曲封面/图片会自动裁剪为200*200px</li>
    </ul>
</div>
<div class="main-context">
    <div class="source-content" ms-controller="model">
        <audio height="0" width="0" style="height:0;width:0;" ms-dom="player">
            @*<source src="file.mp3" type="audio/mp3" />*@
        </audio>
        <div class="source-head">
            <div class="toolbar-left form-inline">
                <button class="btn btn-default btn-sm" ms-click="toggleForm(isAdd)">{{isAdd?'取消添加':'添加音乐'}}</button>
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search" style="height:30px;" ms-duplex="searchText" />
                </div>
            </div>
            <div class="source-loading">
                <div class="loading-line" ms-visible="isLoading">
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                </div>
            </div>
            <div class="toolbar-right">
                <span class="source-sum"><span class="selected-path">@ConfigInfo.SourceMusicPath</span>-&nbsp;{{sum}}</span>
            </div>
        </div>
        <div class="source-context">
            <div class="source-body add-song" ms-visible="isAdd" ms-controller="song">
                <div class="panel-body">
                    <div class="upload-file-box" ms-visible="!isUploadedFile">
                        <div ms-widget="upload,uploadMusic,$uploadMusic" class="btn  btn-upload btn-lg btn-primary"></div>
                    </div>
                    <div class="add-form" ms-visible="isUploadedFile">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="mask-hover" ms-attr-href="SongFileNamePath + SongFileName" target="_blank">
                                    <div class="mask-box" style="cursor:pointer;">
                                        <span class="song-mask-text">点击试听</span>
                                    </div>
                                    <div class="mask-content">
                                        <div class="thumbnail">
                                            <img src="/Content/Back/Images/cd-default2.png" style="height:200px;width:200px;">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div class="mask-hover" ms-click="showSource()">
                                    <div class="mask-box" style="cursor:pointer;">
                                        <span class="song-mask-text">选择歌曲图片</span>
                                    </div>
                                    <div class="mask-content">
                                        <div class="thumbnail">
                                            <img ms-attr-src="ImagePath ? ImagePath : '/Content/Images/said-up-def.png'" style="height:200px;width:200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="music-info">
                            <div class="form-group input-group" ms-class="has-error:!SongName.length">
                                <span class="input-group-addon">歌　　曲</span>
                                <input type="text" value="" required="" placeholder="歌曲名称" ms-duplex="SongName" ms-change="saveTolocalStorage('SongName',SongName)" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group input-group" ms-class="has-error:!SongAlbum.length">
                                <span class="input-group-addon">专　　辑</span>
                                <input type="text" value="" placeholder="歌曲专辑" ms-duplex="SongAlbum" class="form-control" ms-change="saveTolocalStorage('SongAlbum',SongAlbum)" autocomplete="off">
                            </div>
                            <div class="form-group input-group" ms-class="has-error:!SongArtist.length">
                                <span class="input-group-addon">歌　　手</span>
                                <input type="text" value="" placeholder="艺术家" ms-duplex="SongArtist" class="form-control" ms-change="saveTolocalStorage('SongArtist',SongArtist)" autocomplete="off">
                            </div>

                            <div class=" form-group input-group input-append date form_datetime" ms-class="has-error:!ReleaseDate" data-date="2013-02-21T15:25:00Z">
                                <span class="input-group-addon">发行日期</span>
                                <input size="16" value="" placeholder="发行日期（请选择）" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-date-today-btn="true" ms-dom="ReleaseDate" class="form-control" autocomplete="off" readonly />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">大　　小</span>
                                <input type="text" value="" placeholder="文件大小（自动生成）" ms-attr-value="SongSizeText" disabled="disabled" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">时　　长</span>
                                <input type="text" value="" placeholder="时长（自动生成）" ms-attr-value="DurationText" disabled="disabled" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">图片名称</span>
                                <input type="text" value="" placeholder="歌曲封面（自动生成）" ms-attr-value="IName" disabled="disabled" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">文　　件</span>
                                <input type="text" value="" placeholder="文件名（自动生成）" ms-attr-value="SongFileName" disabled="disabled" class="form-control" autocomplete="off">
                            </div>
                            <div class="submit-container">
                                <button type="button" class="btn btn-info" ms-click="submit()">添加</button>
                                <button type="button" class="btn btn-danger" ms-click="remove()">移除</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="source-body songBox" ms-visible="!isAdd">
                <div ms-repeat-item="datas" class="source-item" ms-class="selected:activeIndex==$index" ms-click="activeItem(item,$index)">
                    <div class="item-img" ms-css-background-image="'url(' + item.img + ')'"></div>
                    <div class="item-info">
                        <span class="img-name">{{item.SongName}} - {{item.SongArtist}}</span>
                        <a title="删除" class="fa fa-times item-delete" href="javascript:;" ms-click="deleteModel($event,item,$index)"></a>
                    </div>
                </div>
            </div>
            <nav class="source-footer" ms-visible="!isAdd">
                <ul class="pagination">
                    <li ms-if="pageIndex > 3"><a href="javascript:;" ms-click="load(1)"><span>1</span></a></li>
                    <li ms-if="pageIndex > 3"><span>...</span></li>
                    <li ms-repeat-index="pages" ms-class="active:index==pageIndex">
                        <a ms-if="index!=pageIndex" href="javascript:;" ms-click="load(index)">{{index}}</a>
                        <span ms-if="index==pageIndex">{{index}}</span>
                    </li>
                    <li ms-if="sumPage - 5 >= pageIndex"><span>...</span></li>
                    <li ms-if="sumPage - 5 >= pageIndex "><a href="javascript:;" ms-click="load(sumPage)"><span>{{sumPage}}</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="source-detail" ms-controller="currData">
        <ul class="source-info" ms-visible="SongId">
            <li>{{SongName}}</li>
            <li>{{SongArtist}}</li>
            <li>《{{SongAlbum}}》</li>
            <li>{{Date | toDate('yyyy-MM-dd HH:mm:ss') }} 创建</li>
            <li>{{ReleaseDate | toDate('yyyy-MM-dd') }} 发行</li>
            <li>{{Duration | ToSongTime }} </li>
            <li>{{SongSize | ToSize}}</li>
            <li>{{FileType}}</li>
            <li>{{SongLikeCount}}个喜欢</li>
            <li>被引用{{ReferenceCount}}次</li>
            <li class="text-center"><a ms-href="SongFileNamePath + SongFileName" target="_blank" class="btn btn-default">点击试听</a></li>
        </ul>
    </div>

</div>
@section Css{
    @Styles.Render("~/static/back/css/image.index", "~/static/back/css/bootstrap-date")
}

@section FootJs{
    @Scripts.Render("~/static/back/js/music.index")
    <script>
        var Action = {
            getList: '@Url.Action("GetAllMusicList", "Music")',
            realDelete: '@Url.Action("RealDeleteMusic", "Music")',
            addSong: '@Url.Action("Add", "Music")',
            upload: '@Url.Action("Upload", "Music")',
            uploadImage: '@Url.Action("Upload", "Image")',
            realDeleteFile: '@Url.Action("RealDeleteFile", "Music")',
            realDeleteImage: '@Url.Action("RealDeleteImage","Image")',
            GetImagesList: '@Url.Action("GetImagesList", "Image")'
        },
            Source = {
                image: '@ConfigInfo.SourceMusicImagePath',
                songPath: '@ConfigInfo.SourceMusicPath',
                maxSize: '@ConfigInfo.SizeMusic',
                songImageType: '@((int)Said.Models.ImageType.Music)',
                filters: ['mp3', 'ogg'],
                getImage: function (imgName) {
                    return Source.image + imgName;
                }
            }
        require(['music.index'], function (view) {
            view(Action, Source);
        })
    </script>
}