extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/article-detail.css')

block content
  //- 正文内容
  section#content
    .content-bg
      .content-bg-img(style=`background-image:url(${article.poster.url})`)
    .said-content
      .music
        .img
          img(src=article.song.image.thumb)
        ul.music-info
          li.name #{article.song.title}
          li
            a.link(href=`//www.sogou.com/web?query=${encodeURIComponent(article.song.artist)}`, target='_blank') #{article.song.artist}
          li
            a.link(href=`//www.sogou.com/web?query=${encodeURIComponent(article.song.album)}`, target='_blank') #{article.song.album}
        .music-player#player(data-src=`${article.song.url}`)
          .palyer-button
            i.saidfont.icon-play_icon
            //- i.saidfont.icon-stop_icon
          .player-progress
            .player-volume(style='width:0%')
          .time 
            span.cur-time 00:00:00
            = ' / '
            span.sum-time #{article.song.duration}
      section.context.said
        h1.title #{article.title}
        article.article
          section.html
            //- 文章内容
            != article.other.html
          .author
            p 作者：#{article.author.nickName}
            p 原文：
              a.link(href=`//tasaid.com/said/${article.key}.html`) https://tasaid.com/said/#{article.key}.html
            p 出处：
              a.link(href=`https://tasaid.com`) https://tasaid.com
            p 声明：转载相关授权请&nbsp;
              a.link(href='//tasaid.com/blog/20160906231305.html') 点击这里
              | ，请尊重作者的辛勤劳动成果。
        //- 其他信息
        .article-other-info
          //- .cc(title='知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议')
          //-   a(href='https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh', target='_blank')
          //-     img(src='/images/creativecommons-sa.svg')
          time 发布于 #{article.info.createTimeString}
          .browse(title='浏览量')
            i.saidfont.icon-yonghu &nbsp;#{article.info.pv}
        .more 
          //- .info
          //-   time 最后一次更新于 2014/10/08 00:21:51
          .other
            a#user-like.button.like(disabled=likeIt)
              span#like-text= likeIt ? '已赞' : '点赞'
              span#link-num(data-num=`${article.info.likeCount}`) #{article.info.likeCount}
block script
  script.
    window.articleId = '#{article._id}'
  script(src='/js/said-detail.js')
