extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/static/css/article-index.css')

block content
  //- 大banner
  .banner-bg
    ul.banner
      li.banner-item.white(style='background-image:url(/static/images/bg/said-banner-bg.jpg)')
        .banner-content
          h3.title 世界很大，风住过这里
          .context
            p 某个月夜，秋风漫步而来，带来一片律动，捎走一阵繁花。
            p 阳光或许依旧，孤苦或许仍有，但我想，尚有很多梦还未醒。
            p 世界很大，风住过这里。
  //- 正文
  section#content
    .said-content
      //- 文章项
      each article in articles
        article.item
          a.image(style=`background-image:url(${article.poster.thumb})`, href=`/said/${article.key}.html`, title='点击阅读全文')
          .context
            h2.title
              a.ellipsis(href=`/said/${article.key}.html`, title=article.title) #{article.title}
            .summary
              .preview
                != article.other.summaryHTML
            .footer
              .music
                .music-image(title=article.song.title)
                  .music-ring
                  img(src=article.song.image.thumb)
                ul.music-info
                  li.ellipsis(title='歌曲') #{article.song.title}
                  li.ellipsis(title='艺术家') #{article.song.artist}
              .more
                i.saidfont.icon-yonghu(title='浏览') #{article.info.pv}
                time(title='发布时间') #{article.info.localDate}
      //- 翻页
      .page
        if maxPage > 1
          //- 显示上一页
          if page != 1 && maxPage > 1
            a.pre(href=`/said/page/${page - 1}`) 上一页
          //- 大于 5 页，显示第一页按钮和省略号
          if maxPage > 5 && page >= 5
            a(href='/said/page/1') 1
            span.break ...
          //- 当前页码小于 5 条 => 前 5页
          if maxPage <= 5 || page < 5
            - for (var i = 1; i <= Math.min(maxPage, 5); i++) {
              if i === page
                span #{page}
              else
                a(href=`/said/page/${i}`) #{i}
            - }
          //- 当前页码大于 5 条，并且当前总页数和页码差大于 5
          else if maxPage - page >= 5
            - for (var i = page - 2; i <= page + 2; i++) {
              if i == page
                span #{page}
              else
                a(href=`/said/page/${i}`) #{i}
            - }
          //- 当前页码已经到最后5页
          else
            - for (var i = maxPage - 4; i <= maxPage; i++) {
              if i == page
                span #{page}
              else
                a(href=`/said/page/${i}`) #{i}
            - }
          if (maxPage - page) >= 5
            span.break ...
            a(href=`/said/page/${maxPage}`) #{maxPage}
          if page != maxPage && maxPage > 1
            a.next(href=`/said/page/${page + 1}`) 下一页
        