extends ../partials/layout-mobile.pug

block content
  .banner
    section.banner-bg(style='background-image:url(/static/images/bg/said-banner-bg.jpg)')
    .content
      h2 听·说
      p 秋天该很好
      p 你若尚在场
  .content
    .module-title
      span 探索
    .lists#lists
      for article in articles
        a.module-item(href=`/said/${article.key}.html`)
          .item-bg(style=`background-image:url(${article.poster.thumb})`)
          .item-context
            .item-article
              h2 #{article.title}
              .item-music.ellipsis
                i.saidfont.icon-music
                //- 不能放到 saidfont 元素下，原因参见这里：https://github.com/thx/iconfont-plus/issues/563
                = `${article.song.title} - ${article.song.artist} 《${article.song.album}》`
              .item-txt #{article.summary}
              .item-footer
                time.date 
                  i.saidfont.icon-rili
                  = article.info.localDate
                span.pv 
                  i.saidfont.icon-yonghu #{article.info.pv}
    if maxPage > 1
      .module-next(data-max=maxPage)#load-more
          a(href='javascript:;').button
            span 点击加载更多
            i.saidfont.icon-arrow-down
          span.button(style='display:none')
            span 正在加载中...
            i.saidfont.icon-loading

block script
  script(type='text/javascript', charset='utf-8', src='/static/js/mobile/said-mobile-index.js')
  script(type='text/template')#tmp-item
    a.module-item(href='/said/${key}.html')
      .item-bg(style='background-image:url(${thumb})')
      .item-context
        .item-article
          h2= '${title}'
          .item-music.ellipsis
            i.saidfont.icon-music
            = '${songTitle} - ${songArtist} 《${songAlbum}》'
          .item-txt= '${summary}'
          .item-footer
            time.date 
              i.saidfont.icon-rili
              = '${localDate}'
            span.pv 
              i.saidfont.icon-yonghu= '${pv}'
