extends ../partials/layout.pug
include ./modules/comment.pug

block head
  link(rel='stylesheet', href='/static/css/blog-detail.css')

block content
  //- 大 banner
  .banner-bg.blog-banner
    ul.banner
      li.banner-item.white(style='background-image:url(//static.tasaid.com/images/bg/blog-banner-bg.e7efded1.jpg)')
        .banner-content
          h3.title Write the code, change the world
          .context
            p (46840404742).toString(36)
  //- 正文内容
  section#content
    .said-content
      section.context.blog#article-context
        h1.title #{blog.title}
        article.article
          if blog.info.tips
            section.notice.warning #{blog.info.tips}
          section.html
            //- 文章内容
            != blog.other.html
          .author
            p 作者：#{blog.author.nickName}
            p 原文：
              a.link(href=`//tasaid.com/blog/${blog.key}.html`) https://tasaid.com/blog/#{blog.key}.html
            p 出处：
              a.link(href='https://tasaid.com') https://tasaid.com
            p 声明：转载相关授权请&nbsp;
              a.link(href='//tasaid.com/blog/2018030702145515.html') 点击这里
              | ，请尊重作者的辛勤劳动成果。
          .more 
            //- .info
            //-   time 最后一次更新于 2014/10/08 00:21:51
            .other
              button#user-like.button.like(disabled=likeIt)
                span#like-text= likeIt ? '已赞' : '点赞'
                span#link-num(data-num=`${blog.info.likeCount}`) #{blog.info.likeCount}
        //- 页面其他信息(首选/评论/发布时间)
        .article-other-info
          .cc(title='知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议')
            a(href=`/link?url=${encodeURIComponent('https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh')}`, target='_blank')
              img(src='//static.tasaid.com/media/sa.3e9b6648.svg')
          .comments-sum
            span#comment-sum(data-sum=comments.length) 评论(#{comments.length})
          time 发布于 #{blog.info.createTimeString}
          .browse(title='浏览量')
            i.saidfont.icon-yonghu &nbsp;#{blog.info.pv}
          //- 评论
        section.comments
          section.comments-list#comment-list
            each comment, i in comments
              //- 从 ./modules/comment.pug 取到的 mixin
              +commentMixin(comment, i)
                if comment.replys.length
                  each reply, j in comment.replys
                    +replyMixin(comment, reply, i, j)
          //- 评论框，用于评论文章
          .comment-bar#comment-bar
            .form
              .inputs
                input.form-control(placeholder='*名称').form-name
                input.form-control(placeholder='*email').form-email
                input.form-control(placeholder='你的站点(可略)').form-site
              textarea.form-control(placeholder='*说出你的想法或问题', maxLength="140").form-context
              .btns
                span.err-msg
                a.button.submit(href='javascript:;') 发布评论
      section.blog-detail-nav
        nav.nav#blog-nav
          .title 目录
          .content
            .line
            .context
              //- ul
              //-   li
              //-     a(href='#01') Promise应对的问题
              //-   li
              //-     a(href='#02') Promise的解决
              //-   li
              //-     a(href='#03') ECMAScript 6 Promise
              //-     ul
              //-       li
              //-         a(href='#03-01') Promise.prototype.then
              //-       li
              //-         a(href='#03-02') Promise.constructor
              //-   li
              //-     a(href='#04') 参考和引用
      form#blogForm(style="display:none")
        input.blogId(value=blog._id)
        input.nickname(value=user.nickName)
        input.email(value=user.email)
        input.site(value=user.site)

block script
  //- 考虑到安全，不注入到 script，而是注入到 input 里
  //- script.
  //-   window.blogId = '#{blog._id}';
  //-   window.nickname = '#{user.nickName}';
  //-   window.email = '#{user.email}';
  //-   window.site = '#{user.site}';
  script(src='/static/js/blog-detail.js')
  script(type='text/template')#tmp-nav-item
    li
      a(href='javascript:;', data-top='${top}') ${text}
      = '${child}'