extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/blog-detail.css')

block content
  //- 大 banner
  .banner-bg.blog-banner
    ul.banner
      li.banner-item.white(style='background-image:url(/images/bg/blog-banner-bg.jpg)')
        .banner-content
          h3.title Write the code, change the world
          .context
            p (46840404742).toString(36)
  //- 正文内容
  section#content
    .said-content
      section.context.blog#article-context
        h1.title #{blog.title}
        article.article
          section.html
            //- 文章内容
            != blog.other.html
          .author
            p 作者：#{blog.author.nickName}
            p 原文：
              a.link(href=`//tasaid.com/blog/${blog.key}.html`) https://tasaid.com/blog/#{blog.key}.html
            p 出处：
              a.link(href='https://tasaid.com') https://tasaid.com
            p 声明：转载相关授权请&nbsp;
              a.link(href='//tasaid.com/blog/20160906231305.html') 点击这里
              | ，请尊重作者的辛勤劳动成果。
          .more 
            //- .info
            //-   time 最后一次更新于 2014/10/08 00:21:51
            .other
              button#user-like.button.like(disabled=likeIt)
                span#like-text= likeIt ? '已赞' : '点赞'
                span#link-num(data-num=`${blog.info.likeCount}`) #{blog.info.likeCount}
        //- 页面其他信息(首选/评论/发布时间)
        .article-other-info
          .cc(title='知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议')
            a(href='https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh', target='_blank')
              img(src='/images/creativecommons-sa.svg')
          .comments-sum
            span 评论(#{blog.comments.length})
          time 发布于 #{blog.info.createTime}
          .browse(title='浏览量')
            i.saidfont.icon-yonghu &nbsp;#{blog.info.pv}
          //- 评论
        section.comments
          section.comments-list
            .item
              .head
                a(href='#1', title='定位到该评论').hash
                  i.saidfont.icon-yinyong
                a(name='1', href='/')
                  i.saidfont.icon-admin [管理员]linkFly
              .body 重构是在不改变程序行为的基础上进行小的改动，是代码逐渐改善的过程。移除长期累积下来的烂码，以得到更清晰和更容易维护，除错以及添加新功能的代码，这做法不能单纯只出现在编码的后期，甚至是你意识到你的代码已经无从再下手非重写不可的时候，而是从开始开发起，逐渐积累，逐渐修改。以前因为日常编码的随意性，导致问题日益积累，逐步扩散，最后只能推倒重来。如果时间经受不起推倒重来，你别无选择，唯一实现的选择就是重构。
              .footer
                span #1
                span.reply
                  a(href='javascript:;')
                    i.saidfont.icon-reply 回复
                span.delete
                  a(href='javascript:;') 删除
                time 2014/10/08 00:21:51&nbsp;·&nbsp;
            .comment-bar
              .form
                .inputs
                  input.form-control(placeholder='名称')
                  input.form-control(placeholder='email')
                  input.form-control(placeholder='你的站点(可略)')
                textarea.form-control(placeholder='说出你的想法或问题')
                .btns
                  a.button(href='javascript:;') 发布评论
      section.blog-detail-nav
        nav.nav#blog-nav
          .title 目录
          .content
            .line
            .context
              //- ul
              //-   li
              //-     a(href='#01') Promise应对的问题
              //-   li
              //-     a(href='#02') Promise的解决
              //-   li
              //-     a(href='#03') ECMAScript 6 Promise
              //-     ul
              //-       li
              //-         a(href='#03-01') Promise.prototype.then
              //-       li
              //-         a(href='#03-02') Promise.constructor
              //-   li
              //-     a(href='#04') 参考和引用

block script
  script.
    window.blogId = '#{blog._id}'
  script(src='/js/blog-detail.js')
  script(type='text/template')#tmp-nav-item
      li
        a(href='javascript:;', data-top='${top}') ${text}
        = '${child}'