extends ../partials/layout-mobile.pug

block content
  .banner
    section.banner-bg(style='background-image:url(//static.tasaid.com/images/bg/team.f089a72a.jpg);background-size:auto 100%;')
  section.article-content
    article.context
      h1.title #{blog.title}
      section.html
        if blog.info.tips
          section.notice.warning #{blog.info.tips}
        //- 文章内容
        != blog.other.html
    .info
      //- 点赞
      .like-box
        button.button.like#user-like(disabled=likeIt)
          span#like-text= likeIt ? '已赞' : '点赞'
          span#link-num(data-num=`${blog.info.likeCount}`) #{blog.info.likeCount}
      //- 文章其他信息(首选/评论/发布时间)
      .article-other-info
        i.saidfont.icon-category #{blog.category.name}
        time
          i.saidfont.icon-rili #{blog.info.createTimeString}
        .browse(title='浏览量')
          i.saidfont.icon-yonghu #{blog.info.pv}
      .cc(title='知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议')
        a(href=`/link?url=${encodeURIComponent('https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh')}`, target='_blank')
          img(src='//static.tasaid.com/media/sa.3e9b6648.svg')
      .module-more
        a(href='/blog')
          span 查看更多我的文章
  section.comments
    span.label 共 #{blog.comments.length} 条评论
    //- ul.comments-list
    //-   li
    //-     .title.ellipsis 
    //-       a(href='/') linkfly&nbsp;
    //-       i.saidfont.icon-admin
    //-       = '评论:'
    //-     .context 一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论
    //-     ul
    //-       li
    //-         .title.ellipsis 
    //-           a(href='/') linkfly&nbsp;
    //-           i.saidfont.icon-admin
    //-           = '回复:'
    //-         .context 一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论
    //-       li
    //-         .title.ellipsis 
    //-           a(href='/') linkfly&nbsp;
    //-           i.saidfont.icon-admin
    //-           = '回复:'
    //-           span &nbsp;Tj
    //-         .context 一个评论一个评论
    //-       li
    //-         .title.ellipsis 
    //-           span linkfly&nbsp;
    //-           = '回复: '
    //-           a(href='/') Tj
    //-           = ' '
    //-           i.saidfont.icon-admin
    //-         .context 一个评论一个评论
    //-   li
    //-     .title.ellipsis 
    //-       a(href='/') linkfly&nbsp;
    //-       = '评论:'
    //-     .context 一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论一个评论
block script
  script.
    window.blogId = '#{blog._id}'
  script(type='text/javascript', charset='utf-8', src='/static/js/mobile/blog-mobile-detail.js')