extends ../partials/layout.pug

block head
  link(rel='stylesheet', href='/css/blog-index.css')

block content
  //- 大 banner
  .banner-bg
    ul.banner
      li.banner-item.white(style='background-image:url(/images/bg/team.jpg)')
        .banner-content
          h3.title Write the code,change the world
          .context
            p console.log('Hello,Wrold!')
            p (46840404742).toString(36)
  //- 正文内容
  section#content
    .blog-head
      .cate-head
        h3.title #{currentCategory ? currentCategory.name : '全部文章'} - 共 #{blogs.length} 篇
          a#cate-btn.cate-btn(class=isOpenCategory ? 'open' : '' )
            span 分类
            label
      #categorys.categorys(data-open=`${!!isOpenCategory}`)
        .box
          ul.content
            each category in categorys
              li.item
                a(href=`/blog/cate/${category.name}`)
                  img.icon(src=category.icon)
                  = category.name
    .said-content
      section.blog-content
        each blog, index in blogs
          if index === 0 || blogs[index - 1].info.tag !== blog.info.tag
            .timespan
              span.txt #{blog.info.tag}
          article.item
            .date
              span #{blog.info.day}
              small #{blog.info.time}
            .content
              h2.title.ellipsis
                a.link(title='点击查看文章', href=`/blog/${blog.key}.html`) #{blog.title}
              .summary
                != blog.other.summaryHTML
              .footer
                i.saidfont.icon-category #{blog.category.name}
                i.saidfont.icon-yonghu #{blog.info.pv}
block script
  script(src='/js/blog-index.js')
