@using Said.Common;
@{
    ViewBag.Title = "Said管理 - 图片管理";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
}

@*<div class="page-header">
    <h3>图片管理&nbsp;&nbsp;<small>&gt;&nbsp;管理每一张美轮美奂并且精致的图片</small><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></h3>
</div>*@
<ol class="breadcrumb">
    <li><a href="/Back">Home</a></li>
    <li>资源管理</li>
    <li class="active">图片管理</li>
    <li class="g-help"><a href="javascript:;" id="said-help-btn" title="帮助"><i class="fa fa-question-circle"></i></a></li>
</ol>
<div id="said-help" class="said-mask-content said-watermark">
    <ul>
        <li>Said生成的缩略图不能有<span class="keywords">透明背景</span>（因为缩略图最终生成是jpg格式的）</li>
        <li>上传的图片，最后会被裁剪为<span class="keywords">1.82</span>比例的图片</li>
        <li>上传的图片不允许超过<span class="keywords">1MB</span></li>
        <li>上传的音乐文件不允许超过<span class="keywords">10MB</span></li>
        <li>上传图片的时候注意上传的分类！默认上传在<span class="keywords">其他</span>分类下</li>
    </ul>
</div>
<div class="main-context">
    <div class="source-content" ms-controller="model">
        <div class="source-head">
            <div class="toolbar-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{typeText||'全部'}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" title="选择系统分类下的图片" ms-click="select($event,-1)">全部</a></li>
                        <li><a href="javascript:;" title="选择系统分类下的图片" ms-click="select($event,0)">系统</a></li>
                        <li><a href="javascript:;" title="选择Blog分类下的图片" ms-click="select($event,1)">日志</a></li>
                        <li><a href="javascript:;" title="选择Said分类下的图片" ms-click="select($event,2)">音乐</a></li>
                        <li><a href="javascript:;" title="选择Music分类下的图片" ms-click="select($event,3)">Said</a></li>
                        <li><a href="javascript:;" title="选择Page分类下的图片" ms-click="select($event,5)">页面</a></li>
                        <li><a href="javascript:;" title="选择Other分类下的图片" ms-click="select($event,7)">其他</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:;" title="尚未推出">实验室</a></li>

                    </ul>

                </div>
                <div ms-widget="upload,uploadImages,$uploadImagesConfig" class="btn btn-upload btn-default btn-sm"></div>
                @*<div class="said-toggle" ms-class="selected:multiple" title="是否多选" ms-click="toggleMultiple()"></div>*@
            </div>
            <div class="source-loading">
                <div class="loading-line" ms-visible="isLoading">
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                    <span class="loading-dot"></span>
                </div>
            </div>
            <div class="toolbar-right">
                <span class="source-sum"><span class="selected-path">{{selectPath}}</span>-&nbsp;{{sum}}</span>
            </div>
        </div>
        <div class="source-context">
            <div class="source-body">
                <div ms-repeat-item="datas" class="source-item" ms-class="selected:activeIndex==$index" ms-click="activeItem(item,$index)">
                    <div class="item-img" ms-css-background-image="'url(' + item.img + ')'"></div>
                    <div class="item-info">
                        <span class="img-name">{{item.IName}}</span>
                        <a title="删除" class="fa fa-times item-delete" href="javascript:;" ms-click="deleteImage($event,item,$index)"></a>
                    </div>
                </div>
            </div>
            <nav class="source-footer">
                <ul class="pagination">
                    <li ms-if="pageIndex > 3"><a href="javascript:;" ms-click="load(1)"><span>1</span></a></li>
                    <li ms-if="pageIndex > 3"><span>...</span></li>
                    <li ms-repeat-index="pages" ms-class="active:index==pageIndex">
                        <a ms-if="index!=pageIndex" href="javascript:;" ms-click="load(index)">{{index}}</a>
                        <span ms-if="index==pageIndex">{{index}}</span>
                    </li>
                    <li ms-if="sumPage - 5 >= pageIndex"><span>...</span></li>
                    <li ms-if="sumPage - 5 >= pageIndex "><a href="javascript:;" ms-click="load(sumPage)"><span>{{sumPage}}</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="source-detail" ms-controller="currData">
        <ul class="source-info" ms-visible="ImageId">
            <li>{{IName}}</li>
            <li>{{Date}}</li>
            <li>{{ISize}}</li>
            <li>{{Type}}</li>
            <li>被引用{{ReferenceCount}}次</li>
            <li class="text-center"><a ms-href="Img" target="_blank" class="btn btn-default">查看大图</a></li>
        </ul>
    </div>
</div>
@section Css{
    @Styles.Render("~/static/back/css/image.index")
}

@section FootJs{
    @Scripts.Render("~/static/back/js/image.index")
    <script>
        var Action = {
            getImageList: '@Url.Action("GetImagesList", "Image")',
            realDeleteImage: '@Url.Action("RealDeleteImage", "Image")',
            upload: '@Url.Action("Upload", "Image")'
        },
            Source = {
                thumbnail: [
                    '@ConfigInfo.SourceSystemThumbnailPath',
                    '@ConfigInfo.SourceBlogThumbnailPath',
                    '@ConfigInfo.SourceMusicThumbnailPath',
                    '@ConfigInfo.SourceSaidThumbnailPath',
                    '@ConfigInfo.SourceIconsPath',
                    '@ConfigInfo.SourceSystemThumbnailPath',
                    '@ConfigInfo.SourceSystemThumbnailPath',
                    '@ConfigInfo.SourceSystemThumbnailPath'
                ],
                image: [
                    '@ConfigInfo.SourceSystemPath',
                    '@ConfigInfo.SourceBlogPath',
                    '@ConfigInfo.SourceMusicImagePath',
                    '@ConfigInfo.SourceSaidPath',
                    '@ConfigInfo.SourceIconsPath',
                    '@ConfigInfo.SourceSystemPath',
                    '@ConfigInfo.SourceSystemPath',
                    '@ConfigInfo.SourceSystemPath'
                ],
                typeName: ['系统图片', '日志', '音乐', 'Said', 'Icon', '页面', '无', '其他'],
                maxImageSize: '@ConfigInfo.SizeSystem',
                filters: ['jpg', 'jpeg', 'jpe', 'bmp', 'png', 'gif'/*, 'image/png', 'image/bmp', 'image/gif', 'image/jpeg'*/]
            };
        var ImageType = {
            System: 0,
            Blog: 1,
            Music: 2,
            Said: 3,
            Icon: 4,
            Page: 5,
            Lab: 6,
            Other: 7
        };
        require(['image.index'], function (view) {
            view(Action, Source, ImageType);
        })
    </script>
}