
footer#footer
  section.content
    .footer-item.friends
      .title 推荐
      div
        a.link(href=`/link?url=${encodeURIComponent('https://www.cnblogs.com/dojo-lzz/')}`, target='_blank') 木的树 - 我的小树林
      div
        a.link(href=`/link?url=${encodeURIComponent('https://www.cnblogs.com/lianmin/')}`, target='_blank') 上位者的怜悯
      div
        a.link(href=`/link?url=${encodeURIComponent('http://fsjohnhuang.cnblogs.com/')}`, target='_blank') ^_^肥仔John
      div
        a.link(href=`/link?url=${encodeURIComponent('https://github.com/linkFly6')}`, target='_blank') Github - linkFly
      div
        a.link(href=`/link?url=${encodeURIComponent('https://tslang.cn/')}`, target='_blank') TypeScript 中文网
      div
        a.link(href=`/link?url=${encodeURIComponent('https://tslang.cn/')}`, target='_blank') QQ 群：377786580
    .footer-item
      .title 许可
      p 本站原创并且没有注明相关许可协议的内容，默认请参考
        a.link(href='/blog/2018030702145515.html', target='_blank') 《Said 转载授权说明》
        = '进行许可。非原创内容遵循原文许可协议'
    .footer-item
      .title 联系方式
      p 内容基本都是自己原创的，引用的地方都会给出相关引用，如有疏漏，联系方式：linkFly6
        i.saidfont.icon-at
        = 'live.com'
  .copyright ©#{(new Date).getFullYear()} Said:听说 - linkFly - 
    a.link(href=`/link?url=${encodeURIComponent('http://www.miitbeian.gov.cn/')}`, target='_blank') 皖ICP备 16018864 号
//- iframe.pull-right(src="https://ghbtns.com/github-btn.html?user=Microsoft&repo=TypeScript-Node-Starter&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px" style="margin-top:15px")
      