@using Said.Models;
@{
    ViewBag.Title = "Blog管理 - Said后台管理系统";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
    IList<Blog> blogs = ViewData["models"] as IList<Blog>;
}
<ol class="breadcrumb">
    <li><a href="/Back">Home</a></li>
    <li class="active">文章管理</li>
</ol>
<div class="main-context">
    <div class="bs-table">
        <table id="btTable" class="table table-hover table-striped" data-striped="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true"></table>
    </div>
</div>
@section Css{
    @Styles.Render("~/static/back/css/saidCenter.css", "~/static/back/css/bootstrap-table.css");
}
@section FootJs{
    @Scripts.Render("~/static/back/js/blog.index.js")
    <script>
        var blogDatas = [];

        @if (blogs != null)
        {

            foreach (var item in blogs)
            {

                Write(new HtmlString(string.Format(@"blogDatas.push({{
                        BlogId: '{0}',
                        BTitle: '{1}',
                        BPV: '{2}',
                        BDate: '{3}',
                        Classify: {{ CName : '{4}' }},
                        BPV:'{5}',
                        BComment:'{6}',
                        Likes:'{7}',
                        }});",
                        item.BlogId,
                        item.BTitle,
                        item.BPV,
                        item.Date.ToString("yyyy-MM-dd HH:mm:ss"),
                        item.Classify.CName,
                        item.BPV,
                        item.BComment,
                        item.Likes
                        )));
            }
        }
        //console.info(articlesDatas);
    </script>

    <script>
        var Action = {
            delele: '/Back/Blog/Delete/',
            realDelete: '/Back/Blog/RealDelete/'
            @*blog: '@Url.Action("Blog", "Home")',
            editBlog: '@Url.Action("Edit", "Blog")',
            img: '@Url.Action("UploadSaidImg", "Source")',
            form: '@Url.Action("AddBlog", "Blog")'*@
        };
        require(['blog.index'], function (view) {
            view(Action, blogDatas)
        });

    </script>
}