@model Said.Models.Article
@{
    ViewBag.Title = Model.STitle + " - 听说";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    string SourceSaidImage = Said.Common.ConfigInfo.SourceSaidPath;
    string SourceMusicImage = Said.Common.ConfigInfo.SourceMusicImagePath;
    string SourceMusicDir = Said.Common.ConfigInfo.SourceMusicPath;
    bool userLike = (bool)ViewData["userLike"];
}
<div style="width: 0%;" class="read-state" id="said-readState"></div>
<section id="content">
    <div class="content-bg">
        <div class="content-bg-img" style="left: 0; background-image:url(@(SourceSaidImage)@(Model.Image.IFileName))"></div>
    </div>
    <section class="music-song">
        <dl class="music-song-content">
            <dt class="music-song-img">
                <img src="@(SourceMusicImage)@(Model.Song.Image.IFileName)" alt="paramore" />
            </dt>
            <dd class="music-song-info">
                <ul>
                    <li>
                        <h2 class="music-song-name">@Model.Song.SongName</h2>
                    </li>
                    <li>
                        <div class="music-song-summary"><a title="Artist" class="music-song-link" target="_blank" href="@Url.Action("Cl", "Home", new { url = "http://www.sogou.com/web?ie=utf8&query=" + Url.Encode(Model.Song.SongArtist), sgs = "s-q-"+Model.SaidId })">@Model.Song.SongArtist</a></div>
                        <div class="music-song-summary"><a title="Album" class="music-song-link" target="_blank" href="@Url.Action("Cl", "Home", new { url = "http://www.sogou.com/web?ie=utf8&query=" + Model.Song.SongAlbum, sgs = "s-q-"+Model.SaidId })">@Model.Song.SongAlbum</a></div>
                    </li>
                </ul>
            </dd>
            <dd id="music-play" class="music-song-play">
                <div class="music-play-status">
                    <a href="javascript:;" id="said-player-play" class="play-btn" title="播放"><i class="fa fa-play fa-2x"></i></a>
                    <a href="javascript:;" class="play-btn palyer-stop" id="said-player-stop" title="停止播放" style="display: none;"><i class="fa fa-stop fa-2x"></i></a>
                </div>
                <ul class="music-play-status">
                    <li class="music-play-detail">
                        <div class="music-time">
                            <span id="player-duration">00:00</span>&nbsp;/&nbsp;<span>@(Said.Common.SaidCommon.ConverDuration(Model.Song.Duration))</span>
                        </div>
                    </li>
                    <li class="player-bar">
                        <div class="music-play-progress">
                            <div class="play-progress" id="said-progress" style="width: 0%;"></div>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
    </section>
    <article class="music-content" id="said-content">
        <h1 class="blog-title">@Model.STitle</h1>
        <section class="blog-content">@(new HtmlString(Model.SHTML))</section>
    </article>
    <section class="blog-more-info">
        <div class="blog-more-head">
            @*<div class="blog-comment-txt">
                    <span>评论(0)</span>
                </div>*@
            <div class="licenses-box">
                <a class="licenses licenses-cc" target="_blank" href="@Url.Action("Cl", "Home", new {url= "http://creativecommons.org/licenses/by/3.0/cn/",sgs= "s-licenses" })" title="本文采用创作共用署名3.0中国大陆版许可证（Creative Commons Attribution 3.0 China Mainland License）授权">CC BY 3.0 CN</a>
            </div>
            <ul class="blog-info">
                <li class="blog-info-date"><time>@Model.Date.ToString("yyyy/MM/dd HH:mm")</time></li>
                <li class="blog-info-like"><a href="javascript:;" class="@(userLike?"likeIt":string.Empty)" data-like="@(userLike?"true":"false")" title="我喜欢" id="said-like"><i class="fa fa-heart"></i><span class="like-sum" id="likeCount">@Model.Likes</span></a></li>
                <li><a href="/Said" class="blog-info-more">查看更多我的文章</a></li>
                @*<li class="blog-info-PV" title="浏览"><span>15</span></li>*@
            </ul>
        </div>
        @*<div class="comment-more-bar">
                <div class="comment-more-bg">
                    <ul style="" class="loading-line">
                        <li class="loading-dot">1</li>
                        <li class="loading-dot">2</li>
                        <li class="loading-dot">3</li>
                        <li class="loading-dot">4</li>
                        <li class="loading-dot">5</li>
                    </ul>
                </div>
            </div>*@
        <audio id="said-player" style="display:none;" autoplay="autoplay" loop></audio>
    </section>
    @*<a class="blog-page-btn blog-prev" href="javascript:;" title="下一篇：世界很大，风住过这里">prev</a>
        <a class="blog-page-btn blog-next" href="javascript:;" title="上一篇：漫步百里">next</a>*@
</section>


@section overrideFooter{
    <footer id="said-footer">
        <a href="/" title="听说" class="logo"></a>
    </footer>
}


@section Css{
    @Styles.Render("~/static/said/article.css")
}

@section FootJs{
    @Scripts.Render("~/static/said/article.js")
    <script>
        var musicFilePath = "@SourceMusicDir@Model.Song.SongFileName",//音乐加载路径
            //音乐时长
            maxDuration = "@Model.Song.Duration",
            saidId = "@Model.SaidId";

        require(['article'], function (view) {
            view(musicFilePath, maxDuration, saidId);
        });
    </script>
}