@model Said.Models.Article
@{
    ViewBag.Title = Model.STitle + " - 听说";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    string SourceSaidImage = Said.Common.ConfigInfo.SourceSaidPath;
    string SourceMusicImage = Said.Common.ConfigInfo.SourceMusicImagePath;
    string SourceMusicDir = Said.Common.ConfigInfo.SourceMusicPath;
    bool userLike = (bool)ViewData["userLike"];
}
<div style="width: 0%;" class="read-state" id="said-readState"></div>
<section id="content">
    <div class="content-bg">
        <div class="content-bg-img" style="left: 0; background-image:url(@(SourceSaidImage)@(Model.Image.IFileName)"></div>
    </div>
    <section class="music-song">
        <dl class="music-song-content">
            <dt class="music-song-img">
                <img src="@(SourceMusicImage)@(Model.Song.Image.IFileName)" alt="paramore" />
            </dt>
            <dd class="music-song-info">
                <ul>
                    <li>
                        <h2 class="music-song-name">@Model.Song.SongName</h2>
                    </li>
                    <li>
                        <div class="music-song-summary"><a title="Artist" class="music-song-link" target="_blank" href="http://www.sogou.com/web?query=@Url.Encode(Model.Song.SongArtist)&ie=utf8">@Model.Song.SongArtist</a></div>
                        <div class="music-song-summary"><a title="Album" class="music-song-link" target="_blank" href="http://www.sogou.com/web?query=@Url.Encode(Model.Song.SongAlbum)&ie=utf8">@Model.Song.SongAlbum</a></div>
                    </li>
                </ul>
            </dd>
            <dd id="music-play" class="music-song-play">
                <div class="music-play-status">
                    <a href="javascript:;" id="said-player-play" class="play-btn" title="播放"><i class="fa fa-play fa-2x"></i></a>
                    <a href="javascript:;" class="play-btn palyer-stop" id="said-player-stop" title="停止播放" style="display: none;"><i class="fa fa-stop fa-2x"></i></a>
                </div>
                <ul class="music-play-status">
                    <li class="music-play-detail">
                        <div class="music-time">
                            <span id="player-duration">00:00</span>&nbsp;/&nbsp;<span>@Said.SaidCommon.ConverDuration(Model.Song.Duration)</span>
                        </div>
                    </li>
                    <li class="player-bar">
                        <div class="music-play-progress">
                            <div class="play-progress" id="said-progress" style="width: 0%;"></div>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
    </section>
    <article class="music-content" id="said-content">
        <h1 class="blog-title">@Model.STitle</h1>
        <section class="blog-content">@(new HtmlString(Model.SHTML))</section>
    </article>
    <section class="blog-more-info">
        <div class="blog-more-head">
            @*<div class="blog-comment-txt">
                    <span>评论(0)</span>
                </div>*@

            <ul class="blog-info">
                <li class="blog-info-date"><time>@Model.Date.ToString("yyyy/MM/dd HH:mm")</time></li>
                <li class="blog-info-like"><a href="javascript:;" class="@(userLike?"likeIt":string.Empty)" data-like="@(userLike?"true":"false")" title="我喜欢" id="said-like"><i class="fa fa-heart"></i><span class="like-sum" id="likeCount">@Model.Likes</span></a></li>
                <li><a href="/Said" class="blog-info-more">查看更多我的文章</a></li>
                @*<li class="blog-info-PV" title="浏览"><span>15</span></li>*@
            </ul>
        </div>
        @*<div class="comment-more-bar">
                <div class="comment-more-bg">
                    <ul style="" class="loading-line">
                        <li class="loading-dot">1</li>
                        <li class="loading-dot">2</li>
                        <li class="loading-dot">3</li>
                        <li class="loading-dot">4</li>
                        <li class="loading-dot">5</li>
                    </ul>
                </div>
            </div>*@
        <audio id="said-player" style="display:none;" autoplay="autoplay"></audio>
    </section>
    @*<a class="blog-page-btn blog-prev" href="javascript:;" title="下一篇：世界很大，风住过这里">prev</a>
        <a class="blog-page-btn blog-next" href="javascript:;" title="上一篇：漫步百里">next</a>*@
</section>


@section overrideFooter{
    <footer id="said-footer">
        <a href="/" title="听说" class="logo"></a>
    </footer>
}


@section Css{
    <link href="@Url.Content("~/Content/Style/saiddetail.css")" rel="stylesheet" />
}

@section FootJs{
    <script>
        var musicFilePath = "@SourceMusicDir@Model.Song.SongFileName",//音乐加载路径
            //音乐时长
            maxDuration = "@Model.Song.Duration",
            saidId = "@Model.SaidId";
    </script>
    <script>
        require(['jquery', 'so'], function ($, so) {
            //like按钮
            var $like = $('#said-like');

            var $player = $('#said-player'),//播放器
                playerElem = $player[0],//播放器DOM
                $playBtn = $('#said-player-play'),//播放
                $stopBtn = $('#said-player-stop'),//停止
                $progress = $('#said-progress'),//进度
                $duration = $('#player-duration'),//时间
                togglePlay = function (isPlay) {//切换显示播放按钮
                    if (isPlay) {
                        $playBtn.hide();
                        $stopBtn.show();
                    } else {
                        $playBtn.show();
                        $stopBtn.hide();
                    }
                },
                //timeupdate函数更新时间太快，函数节流处理
                updateProgress = so.throttle(function (currentTime) {
                    $progress.css('width', currentTime / maxDuration * 100 + '%');
                    $duration.html(so.parseTime(currentTime > maxDuration ? maxDuration : currentTime, 'mm:ss'));
                }, 800);

            //停止
            $stopBtn.on('click', function () {
                playerElem.pause();
                playerElem.currentTime = 0;
                updateProgress(0);
                togglePlay(false);
            });
            //播放
            $playBtn.on('click', function () {
                playerElem.play();
                togglePlay(false);
            });
            //timeupdate會在音樂播放時不斷生效，可透過此事件更新時間。
            $player.on('timeupdate', function (e) {
                //console.dir(this); //this.currentTime
                updateProgress(this.currentTime);
            });

            $player.on('play', function () {
                maxDuration = playerElem.duration > 0 ? parseInt(playerElem.duration) : maxDuration;
                togglePlay(true);
            });

            $player.on('ended', function () {

                togglePlay(false);
            });

            $player.attr('src', musicFilePath);

            var $readProgress = $('#said-readState'), $content = $('#said-content');

            //正文距离顶部的高度
            var contentTop = $content.offset().top,
                contextHeight = $content.height(),
                windowScrollTop, computeScrollTop, $window = $(window), windowHeight = $window.height() - 180;//-180是因为文章底部还有个footer，高度恰好180

            //最后绑定scroll
            $(window).scroll(function () {
                windowScrollTop = $window.scrollTop()
                computeScrollTop = windowScrollTop - contentTop;
                if (computeScrollTop > 0 && computeScrollTop < contextHeight) {
                    computeScrollTop = Math.round(computeScrollTop / (contextHeight - windowHeight) * 100);
                    $readProgress.css({ width: computeScrollTop + '%' });
                } else if (computeScrollTop < 0)
                    $readProgress.width(0);
                else
                    $readProgress.css({ width: '100%' });
            });
            //so.throttle(, 200)

            if (!$like.data('like')) {//用户没有like这篇文章
                var lockSubmit = false;
                $like.on('click', function () {
                    if (lockSubmit) return;
                    lockSubmit = true;
                    $.ajax({
                        url: '/Said/LikeArticle',
                        type: "post",
                        dataType: "json",
                        data: { id: saidId } //注意对内容进行编码
                    }).done(function (data) {
                        if (data.code === 0) {
                            $like.addClass('likeIt');
                            var $likeCount = $('#likeCount');
                            $likeCount.html(parseInt($likeCount.html()) + 1);
                        }

                    }).fail(function () {
                        lockSubmit = false;
                    });
                })
            }
        });
    </script>
}