@model Said.Models.Article
@{
    ViewBag.Title = Model.STitle + " - 听说";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    string SourceSaidImage = Said.Common.ConfigInfo.SourceSaidPath;
    string SourceMusicImage = Said.Common.ConfigInfo.SourceMusicImagePath;
    string SourceMusicDir = Said.Common.ConfigInfo.SourceMusicPath;
    bool userLike = (bool)ViewData["userLike"];
}
<div class="banner">
    <div class="banner-bg" style="background-image:url(@(SourceSaidImage)@(Model.Image.IFileName));"></div>
</div>
<section class="content">
    <div class="displaybox music-player">
        <div class="info">
            <h3>@Model.Song.SongName</h3>
            <div class="album">
                <a class="link" href="@Url.Action("Cl", "Home", new { url = "http://wap.sogou.com/web/searchList.jsp?keyword=" + Url.Encode(Model.Song.SongArtist), sgs = "m-s-q-"+Model.SaidId })">@Model.Song.SongArtist - @Model.Song.SongAlbum</a>
            </div>
        </div>
        <div class="player">
            <a href="javascript:;" id="said-player-play" class="play-btn said-player-play"><i class="fa fa-play fa-2x"></i></a>
            <a href="javascript:;" class="play-btn palyer-stop" id="said-player-stop" style="display: none;"><i class="fa fa-stop fa-2x"></i></a>
        </div>
    </div>
    <article class="music-content" id="said-content">
        <h1 class="blog-title">@Model.STitle</h1>
        <section class="blog-content">@(new HtmlString(Model.SHTML))</section>
    </article>
    <section class="blog-more-info">
        <div class="blog-more-head">
            <div class="displaybox">
                <div class="info-date"><time>@Model.Date.ToString("yyyy/MM/dd HH:mm")</time></div>
                <div class="info-like">
                    <a href="javascript:;" class="@(userLike?"likeIt":string.Empty)" data-like="@(userLike?"true":"false")" title="我喜欢" id="said-like">
                        <!--fa-heart--><i class="fa @(userLike?"fa-heart":"fa-heart-o") "></i><span class="like-sum" id="likeCount">@Model.Likes</span>
                    </a>
                </div>
            </div>
            <ul class="blog-info">
                <li><a href="/" class="blog-info-more">查看更多我的文章</a></li>
                <li><a class="licenses licenses-cc" href="@Url.Action("Cl", "Home", new {url= "http://creativecommons.org/licenses/by/3.0/cn/",sgs= "m-s-licenses1" })">CC BY 3.0 CN</a></li>
                <li><a class="licenses-link" href="@Url.Action("Cl", "Home", new {url= "http://creativecommons.org/licenses/by/3.0/cn/",sgs= "m-s-licenses2" })">本文采用创作共用署名3.0中国大陆版许可证（Creative Commons Attribution 3.0 China Mainland License）授权</a></li>
            </ul>
        </div>
        <section class="music-song"></section>
        <audio id="said-player" height="0" width="0" src="@(SourceMusicDir+Model.Song.SongFileName)" loop></audio><!--autoplay="autoplay"-->
    </section>
</section>

@section Css{
    <link href="@Url.Content("~/Content/wap/style/article.css?v=1.0")" rel="stylesheet" />
}

@section FootJs{
    <script>
        var saidId = "@Model.SaidId";
    </script>
    <script>
        require(['jquery', 'so'], function ($, so) {
            //like按钮
            var $like = $('#said-like');

            var $player = $('#said-player'),//播放器
                playerElem = $player[0],
                $playBtn = $('#said-player-play'),//播放
                $stopBtn = $('#said-player-stop'),//停止
                togglePlay = function (isPlay) {//切换显示播放按钮
                    if (isPlay) {
                        $playBtn.hide();
                        $stopBtn.show();
                    } else {
                        $playBtn.show();
                        $stopBtn.hide();
                    }
                };
            //停止
            $stopBtn.on('click', function () {
                playerElem.pause();
                playerElem.currentTime = 0;
                togglePlay(false);
            });
            //播放
            $playBtn.on('click', function () {
                playerElem.play();
                togglePlay(true);
            });
            //允许播放
            $player.on('play', function () {
                togglePlay(true);
            });
            //播放结束
            $player.on('ended', function () {
                togglePlay(false);
            });

            if (!$like.data('like')) {//用户没有like这篇文章
                var lockSubmit = false;
                $like.on('click', function () {
                    if (lockSubmit) return;
                    lockSubmit = true;
                    $.ajax({
                        url: '/Said/LikeArticle',
                        type: "post",
                        dataType: "json",
                        data: { id: saidId } //注意对内容进行编码
                    }).done(function (data) {
                        if (data.code === 0) {
                            $like.addClass('likeIt');
                            var $likeCount = $('#likeCount');
                            $likeCount.html(parseInt($likeCount.html()) + 1);
                            $like.find('i').removeClass('fa-heart-o').addClass('fa-heart');
                        }

                    }).fail(function () {
                        lockSubmit = false;
                    });
                })
            }
        });
    </script>
}