@model Said.Models.Article
@{
    ViewBag.Title = Model.STitle + " - 听说";
    Layout = "~/Views/Shared/_LayoutWap.cshtml";
    string SourceSaidImage = Said.Common.ConfigInfo.SourceSaidPath;
    string SourceMusicImage = Said.Common.ConfigInfo.SourceMusicImagePath;
    string SourceMusicDir = Said.Common.ConfigInfo.SourceMusicPath;
    bool userLike = (bool)ViewData["userLike"];
}

<div class="banner">
    <div class="banner-bg cover" style="background-image:url(@(SourceSaidImage)@(Model.Image.IFileName));"></div>
</div>
<section class="said-box">
    <div class="music-player">
        <div class="info">
            <h3>@Model.Song.SongName</h3>
            <div class="album">
                <a class="link" href="@Url.Action("Cl", "Home", new { url = "http://wap.sogou.com/web/searchList.jsp?keyword=" + Url.Encode(Model.Song.SongArtist), sgs = "m-s-q-"+Model.SaidId })">@Model.Song.SongArtist - @Model.Song.SongAlbum</a>
            </div>
        </div>
        <div class="player">
            <a href="javascript:;" id="said-player-play" class="play-btn said-player-play"><i class="fa fa-play fa-2x"></i></a>
            <a href="javascript:;" class="play-btn palyer-stop" id="said-player-stop" style="display: none;"><i class="fa fa-stop fa-2x"></i></a>
        </div>
    </div>
    <article class="article-content" id="said-content">
        <h1 class="blog-title">@Model.STitle</h1>
        <section class="blog-content">@(new HtmlString(Model.SHTML))</section>
    </article>
    <section class="blog-more-info">
        <div class="blog-more-head">
            <div class="info-like">
                <time class="info-date">@Model.Date.ToString("yyyy/MM/dd HH:mm")</time>
                <a href="javascript:;" class="@(userLike?"likeIt":string.Empty)" data-like="@(userLike?"true":"false")" title="我喜欢" id="said-like">
                    <i class="fa @(userLike?"fa-heart":"fa-heart-o") "></i><span class="like-sum" id="likeCount">@Model.Likes</span>
                </a>
            </div>
            <ul class="blog-info">
                <li>
                    <a class="licenses licenses-cc" href="@Url.Action("Cl", "Home", new {url= "http://creativecommons.org/licenses/by/3.0/cn/",sgs= "m-s-licenses" })">CC BY 3.0 CN</a>
                </li>
                <li><a href="/said" class="blog-info-more">查看更多我的文章</a></li>
            </ul>
        </div>
        <audio id="said-player" height="0" width="0" loop=""></audio><!--autoplay="autoplay"-->
    </section>
</section>

@section Css{
    @Styles.Render("~/static/wap/article.css")
}

@section FootJs{
    @Scripts.Render("~/static/wap/article.js");
    <script>
        var saidId = "@Model.SaidId",
            //采用懒加载资源，节省流量
            playerSrc = '@(SourceMusicDir+Model.Song.SongFileName)';
    </script>
    <script>
        require(['article'], function (view) {
            view(saidId, playerSrc);
        });
    </script>
}