@using Said.Models;
@{
    ViewBag.Title = "听说 - 秋天该很好，你若尚在场";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    int Total = (int)ViewData["total"];
    IList<Article> List = ViewData["articles"] as List<Article>;
    int PageIndex = (int)ViewData["pageIndex"];
    int MaxPage = (int)ViewData["maxPage"];
    string SourceSaidImage = Said.Common.ConfigInfo.SourceSaidThumbnailPath;
    string SourceMusicImage = Said.Common.ConfigInfo.SourceMusicImagePath;
}
<div class="said-background" style="background-image: url(/Content/Images/bg/saidbg.jpg)">
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item said-banner-white">
                <h3 class="banner-title">世界很大，风住过这里</h3>
                <div class="banner-content">
                    <p>某个月夜，秋风漫步而来，带来一片律动，捎走一阵繁花。</p>
                    <p>阳光或许依旧，孤苦或许仍有，但我想，尚有很多梦还未醒。</p>
                    <p>世界很大，风住过这里。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="said-content said-blog-content">
        @{
            for (int i = 0; i < List.Count; i++)
            {
                <article class="said-blog  @(i%2==0?"even":string.Empty)">
                    <section class="blog-content">
                        <div class="blog-img-content">
                            <a class="blog-img" href="/Said/@(List[i].SaidId).html" title="点击阅读" style="background-image: url(@(SourceSaidImage)@(List[i].Image.IFileName))"></a>
                        </div>
                        <div class="said-blog-context">
                            <div class="said-box">
                                <h2 class="blog-title" title="@List[i].STitle"><a href="/Said/@(List[i].SaidId).html">@List[i].STitle</a></h2>
                                <div class="blog-summary">
                                    <div class="blog-preview">@(new HtmlString(List[i].SSummaryTrim))</div>
                                </div>
                                <footer class="blog-footer">
                                    <div class="blog-music">
                                        <div class="blog-music-img">
                                            <div class="music-ring"></div>
                                            <img src="@(SourceMusicImage)@(List[i].Song.Image.IFileName)" alt="test" title="@(List[i].Song.SongArtist)" />
                                        </div>
                                        <ul class="blog-music-info">
                                            <li title="song">@List[i].Song.SongName</li>
                                            <li title="artist">@List[i].Song.SongArtist</li>
                                        </ul>
                                    </div>
                                    <div class="blog-more-info">
                                        <span title="like" class="blog-info fa fa-heart-o"><i>@List[i].Likes</i></span>
                                        <time>@Said.Common.SaidCommon.DateToLocal(List[i].Date)</time>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </section>
                </article>
            }
        }
        @*<ul class="loading-round" style="display: none;">
                <li class="loading-dot"></li>
                <li class="loading-dot"></li>
                <li class="loading-dot"></li>
                <li class="loading-dot"></li>
                <li class="loading-dot"></li>
            </ul>*@
        @*<ul class="loading-line" style="">
                <li class="loading-dot">1</li>
                <li class="loading-dot">2</li>
                <li class="loading-dot">3</li>
                <li class="loading-dot">4</li>
                <li class="loading-dot">5</li>
            </ul>*@
        <div class="said-blog-page">
            @{
                if (MaxPage > 0)
                {
                    if (PageIndex != 1 && MaxPage > 1)
                    {
                        <a class="page-pre page-disabled" href="@(PageIndex-1)">上一页</a>
                    }
                    if (MaxPage > 5 && PageIndex > 5)
                    {
                        <a class="page-index" href="/Said/1"></a>
                        <span class="page-break">...</span>
                    }
                    //当前页码小于5条 => 前5页
                    if (MaxPage <= 5 || PageIndex < 5)
                    {
                        for (int i = 1; i <= MaxPage; i++)
                        {
                            if (i == PageIndex)
                            {
                                <span class="page-index">@i</span>
                            }
                            else
                            {
                                <a class="page-index" href="/Said/@i">@i</a>
                            }
                        }
                    }
                    else if (MaxPage - Page > 5)//当前页码大于5条，并且当前总页数和页码差大于5
                    {
                        for (int i = Page - 2; i <= Page + 2; i++)
                        {
                            if (i == PageIndex)
                            {
                                <span class="page-index">@i</span>
                            }
                            else
                            {
                                <a class="page-index" href="/Said/@i">@i</a>
                            }
                        }
                    }
                    else//当前页码已经到最后5页
                    {
                        for (int i = MaxPage - 4; i <= MaxPage; i++)
                        {
                            if (i == PageIndex)
                            {
                                <span class="page-index">@i</span>
                            }
                            else
                            {
                                <a class="page-index" href="/Said/@i">@i</a>
                            }
                        }
                    }
                    if (MaxPage - PageIndex > 5)
                    {
                        <span class="page-break">...</span>
                        <a class="page-index" href="/Said/@MaxPage"></a>
                    }
                    if (PageIndex != MaxPage && MaxPage > 1)
                    {
                        <a class="page-next" href="/Said/@(PageIndex + 1)">下一页</a>
                    }
                }
            }
        </div>
    </div>
</section>
@section Css{
    @Styles.Render("~/static/said/article.index.css")
}

@section FootJs{

}