@{
    ViewBag.Title = "Said后台 - 分类/标签管理";
    Layout = "~/Areas/Back/Views/Shared/_LayoutBack.cshtml";
    IList<Said.Models.Classify> Classifs = ViewData["Classify"] as List<Said.Models.Classify>;
    var list = ViewData["iconFiles"] as string[];
}
@*<div class="showmsg-container">
    <div class="showmsg-mask"></div>
    <div class="showmsg-content">
        <div class="showmsg-close"></div>
        <img class="showmsg-state" src="~/Content/Back/Images/showMsg/ok.png" />
        <img class="showmsg-state" src="~/Content/Back/Images/showMsg/error.png" />
        <img class="showmsg-state" src="~/Content/Back/Images/showMsg/warning.png" />
        <div class="showmsg-context">这是内容</div>
    </div>
</div>*@

<div class="select-icons" id="selectIcons" style="display: none;">
    @{
        foreach (var item in list)
        {
        <a href="javascript:;" class="icons-btn" data-name="@item">
            <img src="~/Source/Sys/Images/Icons/@item" /></a>        
        }
    }
</div>
<div class="page-header">
    <h2>标签/分类&nbsp;&nbsp;<small>&gt;标签/分类管理</small></h2>
</div>
<ol class="breadcrumb">
    <li><a href="javascript:;">Home</a></li>
    <li class="active">标签/分类</li>
</ol>
<div class="main-context">
    <div class="row">
        <div class="col-md-6">
            <div class="bs-table">
                <div class="navbar-form navbar-left table-tool" id="classToolbar">
                    <div class="data-form">
                        <div class="form-control iconInput">
                            <input type="text" class="input-icon" placeholder="添加一个新的分类" maxlength="20" id="addClassifyInput" />
                        </div>
                        <button class="btn btn-info">添加</button>
                        <button class="btn btn-success" id="loadIcons">从图库中选择</button>
                    </div>
                    <div class="data-form" style="display: none">
                        <div class="form-control iconInput">
                            <input class="input-icon" placeholder="编辑分类" maxlength="20" id="editClassifyInput" />
                        </div>
                        <button id="classify-btn-up" class="btn btn-warning" title="点击将会修改该分类">修改</button>
                        <button class="btn btn-info" id="classify-btn-cancel">取消</button>
                    </div>
                </div>
                <table id="classifyTable" data-toolbar="#classToolbar" class="table table-hover table-striped main-table" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-pagination="true"></table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bs-table">
                <div class="navbar-form navbar-right table-tool" role="search" id="tagsToolbar">
                    <div class="data-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="添加一个新的标签" />
                        </div>
                        <button class="btn btn-info">添加</button>
                    </div>
                    <div class="data-form" style="display: none;">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="添加一个新的标签" />
                        </div>
                        <button class="btn btn-warning" title="点击将会修改该标签">修改</button>
                        <button class="btn btn-info">取消</button>
                    </div>
                </div>
                <table id="tagsTable" class="table table-hover table-striped main-table" data-toolbar="#tagsToolbar" data-striped="true" data-show-refresh="true" data-show-columns="true" data-search="true" data-pagination="true"></table>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link href="@Url.Content("~/Content/Back/Style/classify.css")" rel="stylesheet" />
    <link href="~/Content/Back/JavaScript/so/plug/css/showMsg.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Back/Plug/bootstrap-table/bootstrap-table.min.css")" rel="stylesheet" />
}
@section FootJs{
    @*<script src="@Url.Content("~/Content/Back/Plug/bootstrap-table/bootstrap-table.js")"></script>*@
    @*<script src="@Url.Content("~/Content/Back/Plug/bootstrap-table/bootstrap-table-zh-CN.js")"></script>*@
    <script src="~/Content/Back/JavaScript/so/plug/showMsg.js"></script>
    <script type="text/javascript">
        var PageDatas = {
            classify: [],
            tags: []
        },
            Action = {
                urlAddClassify: '@Url.Action("AddClassify", "Classify")',
                urlEditClassify: '@Url.Action("EditClassify", "Classify")',
                urlDelClassify: '@Url.Action("DeleteClassify", "Classify")',
                urlAddTag: '@Url.Action("AddTag", "Classify")',
                urlEditTag: '@Url.Action("EditTag", "Classify")',
                urlDelTag: '@Url.Action("DeleteTag", "Classify")',
                sourceClassify: '@Url.Content("~/Source/Sys/Images//Icons/")'
            };

        @if (Classifs != null)
        {
            foreach (var item in Classifs)
            {

                Write(new HtmlString(string.Format("PageDatas.classify.push({{ CName: '{0}',CIcon: '{1}',ClassifyId: '{2}'}});", item.CName, item.CIcon, item.ClassifyId)));
                //Write(string.Format("大家好{0}", "linkFly"));
            }
        }

        require.config({
            baseUrl: '/Content/Back/JavaScript',
            paths: {
                'so': 'so/so',
                'classify': 'said/classify',
                'bsTable': ['../Plug/bootstrap-table/bootstrap-table'],
                'upload': ['so/plug/upload'],
                'popup': ['so/plug/popup'],
                'bsTable-cn': ['../Plug/bootstrap-table/bootstrap-table-zh-CN']
            },
            packages: [
            {
                name: 'said',
                location: 'said',
                main: 'said'
            }], shim: {
                'bsTable-cn': ['bsTable']
            }
        });
        require(['so', 'jquery', 'upload', 'classify', 'popup', 'bsTable-cn'], function (so, $, Extend) {
            $(function () {
                'use strict';
                //window.showMsg('我有很长的内容哟我有很长的内容哟我有很长的内容哟我有很长的内容哟我有很长的内容哟我有长的内容哟我有很长的内容哟我有长的内容哟我有很长的内容哟我有长的内容哟我有很长的内容哟我有', showMsg.ERROR, true);
                //window.showMsg('好好做', showMsg.ERROR);
                var $window = $(window),
                    $bsTables = $('.bs-table');
                (function ($bsTable) {
                    //分类逻辑
                    var $addInput = $('#addClassifyInput'),
                        $editInput = $('#editClassifyInput');
                    $bsTable.toolTable().on('add', function (e, $addInput) {//新增
                        var data = $addInput.uploadText();
                        //TODO
                        if (!data.value || !data.value.trim()) return $addInput.focus();
                        //ajax添加
                        $.ajax(Action.urlAddClassify, {
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({ name: data.value, imgName: data.img })
                        }).done(function (server) {
                            if (server.code === 0) {
                                //分类添加成功
                                $addInput.uploadText('');
                                $classifyTable.bootstrapTable('append', [{
                                    CName: data.value,
                                    CIcon: data.img,
                                    ClassifyId: server.data
                                }]);
                            } else {
                                console.group('服务器错误');
                                console.log(server.code);
                                console.log(arguments);
                                console.groupEnd();
                            }
                        }).fail(function () {
                            console.group('ajax错误');
                            console.log(arguments);
                            console.groupEnd();
                        });
                    }).on('edit', function (e, $elem, data) {//操作=>编辑
                        $editInput.uploadText({
                            value: data.name,
                            img: data.icon,
                            index: data.index
                        });
                    }).on('delete', function (e, $elem, data) {//操作=>删除
                        $.ajax(Action.urlDelClassify, {
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({ id: data.id })
                        }).done(function (result) {
                            if (result.code === 0) {
                                $classifyTable.bootstrapTable('remove', {
                                    field: 'ClassifyId',
                                    values: [data.id]
                                });
                            } else {
                                console.log(arguments);
                                alert('服务器异常');
                            }
                        }).fail(function () {
                            alert('Ajax异常');
                            console.log(arguments);
                        });
                        classifyData.toggle(0);
                    }).on('save', function () {//编辑=>保存
                        var data = $editInput.uploadText();
                        console.log(data);
                        if (!data.value || !data.value.trim()) $editInput.focus();
                    });

                    $addInput.uploadText({
                        callback: function () {
                            //默认选中
                            //var _self = this.val(this.uploadText().img)[0];
                            ////高浏览器的选中
                            //_self.setSelectionRange(0, /*this.uploadText().img.length*/100);//设个固定值也可以
                            //console.log(console.dir(_self));
                        },
                        fail: function (error) {
                            $addInput.popover({
                                placement: 'bottom',
                                content: error.msg,
                                title: '上传异常',
                                trigger: 'focus'
                            }).popover('show');
                            $window.one('click', function () {
                                $addInput.popover('destroy');
                            });
                        }
                    }).on('keydown', function (e) {
                        switch (e.keyCode) {
                            case 13:
                                //不同的模式，触发不同的方法
                                classifyData.fnAdd();
                                break;
                        }
                    });
                    /*
                        TODO
                        1、为了保证加载，可以选择分类图，不能一直加载，删除数据的时候要检测分类图是否被引用
                        2、默认图的处理，Icon是允许没有的，但是有默认图
                        3、这个上传路径注意可以从站点全局路径对象中配置
                    */
                    var $selectIconsBtn = $('#loadIcons').popup({
                        title: '<i class="icon-picture"></i>从图库中选择Icon',
                        context: $('#selectIcons'),
                        width: 450
                    });
                    //刚开始是隐藏的，当popup加载完成再设定为显示，否则页面因为js加载的问题会闪动一下
                    $('#selectIcons').show().on('click', 'a', function () {
                        var name = this.dataset.name;
                        $addInput.uploadText({
                            value: name,
                            img: name
                        });
                        $selectIconsBtn.popup('hide');
                    });
                    $editInput.uploadText({
                        fail: function (error) {
                            classifyData.$edit.popover({
                                placement: 'bottom',
                                content: error.msg,
                                title: '上传异常',
                                trigger: 'manual'
                            }).popover('show');
                            $window.one('click', function () {
                                classifyData.$edit.popover('destroy');
                            });
                        }
                    }).on('keydown', function (e) {
                        switch (e.keyCode) {
                            case 13:
                                //不同的模式，触发不同的方法
                                $bsTable.trigger('save');
                                break;
                        }
                    });

                })($bsTables.eq(0));

                (function ($bsTable) {
                    ////标签
                    //var tagData = SaidTable($bsTable, function ($editInput, data) {
                    //    $editInput.val(data.name);
                    //}, function (data) {
                    //    tagData.toggle(0);
                    //}, function ($addInput, data) {
                    //    alert('新增标签');
                    //}, function ($editInput, data) {
                    //    alert('编辑标签');
                    //});

                })($bsTables.eq(1));

                var $classifyTable = $('#classifyTable').bootstrapTable({
                    columns: [
                        { field: 'ClassifyId', title: 'ID', visible: false, },
                        { field: 'CName', title: '名称', align: 'left', valign: 'bottom', sortable: true },
                        {
                            field: 'CIcon', title: 'Icon', align: 'left', valign: 'bottom', 'class': 'td-img', formatter: function (value) {
                                return ['<img src="', Action.sourceClassify + value, '" alt="" class="blog-other-icon"/>'].join('');
                            }
                        },
                        {
                            field: 'ClassifyId', title: '操作', align: 'center', valign: 'bottom', formatter: function (value, row, index) {
                                return ['<a class="btn btn-info icon-edit data-edit" href="javascript:;" data-id="', value, '"  data-index="', index, '" data-icon="', row.CIcon, '" data-name="', row.CName, '" title="编辑"></a><a class="btn btn-danger icon-trash data-delete" href="javascript:;" data-id="', value, '" title="删除"></a>'].join('');
                            }
                        }],
                    data: PageDatas.classify
                }).on('dbl-click-row.bs.table', function (e, row, $element) { });

                var $tagTable = $('#tagsTable').bootstrapTable({
                    columns: [
                    {
                        field: 'TTagName',
                        title: '名称',
                        align: 'left',
                        sortable: true
                    },
                    {
                        field: 'TTagId',
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {

                            return ['<a class="btn btn-info icon-edit data-edit" href="javascript:;" data-id="', value, '" data-index="', index, '" data-name="', row.TTagName, '" title="编辑"></a><a class="btn btn-danger icon-trash data-delete" href="javascript:;" data="', value, '" title="删除"></a>'].join('');
                            //return ['<a class="btn btn-warning icon-edit data-save" href="javascript:;" data-id="', value, '" title="保存"></a><a class="btn btn-info icon-trash data-cancel" href="javascript:;" data="', value, '" title="取消"></a>'].join('');
                        }
                    }],
                    data: [
                        {
                            TTagName: 'ECMAScript 6',
                            TTagId: '136116aa-a5f6-4f88-bcc4-00a1b4db0dba'
                        },
                        {
                            TTagName: 'RequireJS',
                            TTagId: '271f2924-69ce-4522-8e39-cc8f31059de8'
                        },
                        {
                            TTagName: 'JavaScript',
                            TTagId: '2e0dfa2f-dca4-4e1a-abeb-889ce98a8bb0'
                        },
                        {
                            TTagName: '.NET',
                            TTagId: '6198f526-fa0f-4429-983a-bebc8439e7c8'
                        },
                        {
                            TTagName: 'CSS',
                            TTagId: '817aa0f0-447e-46d3-805c-8952c0332df8'
                        },
                        {
                            TTagName: 'jQuery',
                            TTagId: 'ac11966d-01bf-4554-bd7e-7e0a807ea8fa'
                        },
                        {
                            TTagName: 'ECMAScript 5',
                            TTagId: 'd2774f82-3f56-4b0a-b3ae-0ad203cdc510'
                        }
                    ]

                }).bootstrapTable('updateRow', {
                    index: 2,
                    row: {
                        TTagName: '这是更新的啊啊',
                        TTagId: 'ac11966d-01bf-4554-bd7e-7e0a807ea8fa'
                    }
                });
            });

        });
    </script>
}
