@{
    ViewBag.Title = "项目 - 工匠的心，精益求精";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="said-background" style="background-image: url(/Content/Images/bg/project_bg.jpg)">
    <div class="said-banner-bar">
        <ul class="said-banner">
            <li class="said-banner-item">
                <h3 class="banner-title">工匠的心 精益求精</h3>
                <div class="banner-content">
                    <p>不变只是愿望， 变化才是永恒</p>
                    <p>1000行代码， 1000个思想</p>
                    <p>非淡泊无以明志， 非宁静无以致远</p>
                    <p>以我所学， 做以极致</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="p-box">
        <section class="p-item p-said">
            <div class="item-box afterClear">
                <div class="p-logo">
                    <figure class="p-logo-bg" style="background-image: url('/Content/Images/bg/said-web-bg.png'); "></figure>
                    @*<ul title="兼容性">
                            <li class="p-support"></li>
                        </ul>*@
                </div>
                <div class="p-info">
                    <h3>听说</h3>
                    <div class="p-summary">
                        <p>泡上一首歌</p>
                        <p>闲聊一些事情，一些见解</p>
                        <p>我听闻的，现在，将是你的听闻</p>
                        <p>我倾力铸成了它</p>
                        <p>它是开源的，且越发完善</p>
                    </div>
                    <div class="p-github">
                        <a href="@Url.Action("Cl", "Home", new {url= "https://github.com/linkFly6/Said",sgs="gtihub-tasaid" })" target="_blank" class="said-btn said-btn-default">在Github查看</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-item reverse pro-x">
            <div class="item-box afterClear">
                <div class="p-logo">
                    <figure class="p-logo-bg" style="background-image: url('/Content/Images/bg/project-X.png'); "></figure>
                </div>
                <div class="p-info">
                    <h3>X</h3>
                    <div class="p-summary">
                        <p>移动端解析XML的精致js库</p>
                        <p>性能、体积、优雅度，一个都不能少</p>
                        <p>简单的API做不简单的事</p>
                        <p>兼容移动端各种奇葩的浏览器</p>
                    </div>
                    <div class="p-other">
                        <div class="p-support terminal">
                            <span class="s-item mobile" title="支持移动端（现代）浏览器"></span>
                            @*<span class="s-item wp" title="支持Windows Phone下的浏览器"></span>*@
                            @*<span class="s-item" title="支持桌面端浏览器（IE=>10）"></span>*@
                        </div>
                        <div class="p-support support">
                            <span class="s-item firefox" title="兼容Firefox的Gecko内核"></span>
                            <span class="s-item chrome" title="兼容Chrome的Blink内核"></span>
                            <span class="s-item ie" title="兼容Internet Explorer的Trident内核（=>10）， 和Edge的Edge内核"></span>
                            <span class="s-item safari" title="兼容Safari的Webkit内核"></span>
                            @*<span class="s-item opera" title="兼容Opera的Blink内核"></span>*@
                        </div>
                    </div>
                    <div class="p-github">
                        <a href="@Url.Action("Cl", "Home", new {url= "https://github.com/linkFly6/X",sgs="gtihub-x" })" target="_blank" class="said-btn said-btn-default">在Github查看</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-item pro-promise">
            <div class="item-box afterClear">
                <div class="p-logo">
                    <figure class="p-logo-bg" style="background-image: url('/Content/Images/bg/project-promise.png'); "></figure>
                </div>
                <div class="p-info">
                    <h3>Promise</h3>
                    <div class="p-summary">
                        <p>让你的js异步代码无需再“等待”，即刻处理未来将要发生的事情</p>
                        <p>polyfill实现《<a href="@Url.Action("Cl", "Home", new {url= "http://people.mozilla.org/~jorendorff/es6-draft.html#sec-promise-constructor",sgs="project-es2015" })">ECMAScript 2015</a>》规范中的Promise对象</p>
                        <p>覆盖原生Promise 95% 以上的API特性和细节</p>
                        <p></p>
                    </div>
                    <div class="p-other">
                        <div class="p-support terminal">
                            <span class="s-item mobile" title="支持移动端（现代）浏览器"></span>
                            @*<span class="s-item wp" title="支持Windows Phone下的浏览器"></span>*@
                            <span class="s-item" title="支持桌面端浏览器（IE=>10）"></span>
                        </div>
                        <div class="p-support support">
                            <span class="s-item firefox" title="兼容Firefox的Gecko内核"></span>
                            <span class="s-item chrome" title="兼容Chrome的Blink内核"></span>
                            <span class="s-item ie" title="兼容Internet Explorer的Trident内核（=>10）， 和Edge的Edge内核"></span>
                            <span class="s-item safari" title="兼容Safari的Webkit内核"></span>
                            @*<span class="s-item opera" title="兼容Opera的Blink内核"></span>*@
                        </div>
                    </div>
                    <div class="p-github">
                        <a href="@Url.Action("Cl", "Home", new {url= "https://github.com/linkFly6/Promise",sgs="gtihub-promise" })" target="_blank" class="said-btn said-btn-default">在Github查看</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section Css{
    <link href="@Url.Content("~/Content/Style/projects.css")" rel="stylesheet" />
}

@section FootJs{

}