<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Back/Style/bootstrap.css")" rel="stylesheet">
    <!--<link href="Frmework/css/flat-ui.min.css" rel="stylesheet" />-->
    <link href="@Url.Content("~/Content/Back/Style/font-awesome.min.css")" rel="stylesheet" />
    <!--<link href="Frmework/css/saidList.css" rel="stylesheet" />-->
    <link href="@Url.Content("~/Content/Back/Style/default.css")" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" />
    <script src="@Url.Content("~/Content/Back/JavaScript/requirejs-2.1.15.js")" data-main="@Url.Content("~/Content/Back/JavaScript/main")"></script>
    @{
        if (IsSectionDefined("Css"))
        {
        @RenderSection("Css")        
        }
    }
    @{
        if (IsSectionDefined("HeadJs"))
        {
        @RenderSection("HeadJs")        
        }
    }
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#example-navbar-collapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">切换的导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Said</a>
                </div>
                <ul class="nav pull-right">
                    <li class="dropdown pull-left">
                        <a href="javascript:;" class="dropdown-toggle">
                            <i class="icon-envelope"></i>
                            <span class="badge">1</span>
                        </a>
                    </li>
                    <li class="dropdown  pull-left">
                        <a href="javascript:;" class="dropdown-toggle">Said首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <section class="page-container">
        <nav class="page-sidebar nav-collapse collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="page-sidebar-menu">
                <!--<li>
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a class="remove" href="javascript:;"></a>
                            <input type="text" placeholder="Search...">
                            <input type="button" value=" " class="submit">
                        </div>
                    </form>
                </li>-->
                <li class="active">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="icon-home"></i>
                        <span class="title">Home</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="complex">
                    <a href="javascript:;">
                        <i class="icon-edit"></i>
                        <span class="title">Said管理</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="@Url.Action("SaidCenter", "Said")">
                            <i class=" icon-reorder"></i><span class="title">Said管理</span>
                        </a></li>
                        <li><a href="@Url.Action("AddSaid", "Said")">
                            <i class="icon-edit"></i><span class="title">添加Said</span>
                        </a></li>
                    </ul>
                </li>
                <li class="complex">
                    <a href="javascript:;">
                        <i class="icon-laptop"></i>
                        <span class="title">文章管理</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="@Url.Action("BlogCenter", "Blog")">
                            <i class="icon-coffee"></i><span class="title">Blog管理</span>
                        </a></li>
                        <li><a href="@Url.Action("AddBlog", "Blog")">
                            <i class=" icon-pencil"></i><span class="title">添加Blog</span>
                        </a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-credit-card"></i>
                        <span class="title">实验室</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Classify")">
                        <i class="icon-tags"></i>
                        <span class="title">标签/分类</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-cogs"></i>
                        <span class="title">消息中心</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-folder-open-alt"></i>
                        <span class="title">资源管理</span>
                    </a>
                </li>
                <li class="complex">
                    <a href="javascript:;">
                        <i class="icon-bar-chart"></i>
                        <span class="title">统计中心</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="javascript:;">访问概况</a></li>
                        @*<li><a href="javascript:;">访客地区</a></li>*@
                        <li><a href="javascript:;">时段分析</a></li>
                        <li><a href="javascript:;">回复统计</a></li>
                    </ul>
                </li>
                <li class="complex open">
                    <a href="javascript:;">
                        <i class="icon-sitemap"></i>
                        <span class="title">配置中心</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="javascript:;">
                            <i class="icon-cog"></i>
                            <span class="title">页面配置</span></a>
                        </li>
                        <li title="配置上传大小、可上传文件、上传路径等"><a href="javascript:;">
                            <i class="icon-folder-close-alt"></i>
                            <span class="title">资源配置</span></a>
                        </li>
                        <li title="监控整个站点的健康状态"><a href="javascript:;">
                            <i class="icon-eye-open"></i>
                            <span class="title">活动监控</span></a>
                        </li>
                        <li title="设置访问白名单和黑名单"><a href="javascript:;">
                            <i class="icon-retweet"></i>
                            <span class="title">访问过滤</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section class="container-main">
            @RenderBody()
        </section>
    </section>
    <footer>
    </footer>
    <script src="@Url.Content("~/Content/Back/JavaScript/jQuery-2.1.1.js?v=1.0")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/so/so.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/underscore.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/avalon/avalon.mobile.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/said/globalBack.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/bootstrap.min.js")"></script>
    @{
        if (IsSectionDefined("FootJs"))
        {
        @RenderSection("FootJs")        
        }
    }
</body>
</html>
