<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Back/Style/bootstrap.css")" rel="stylesheet">
    <!--<link href="Frmework/css/flat-ui.min.css" rel="stylesheet" />-->
    <link href="@Url.Content("~/Content/Style/font-awesome.min.css")" rel="stylesheet" />
    <!--<link href="Frmework/css/saidList.css" rel="stylesheet" />-->
    @*<link href="@Url.Content("~/Content/Style/Global.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/Back/Style/default.css")" rel="stylesheet" />
    <link href="~/Content/Widget/sweetalert/sweetalert.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" />
    <script src="@Url.Content("~/Content/Back/JavaScript/requirejs-2.1.15.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/main.js?v=1")"></script>
    @{
        string actionName = ViewContext.RouteData.Values["action"].ToString();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    }
    @{
        if (IsSectionDefined("Css"))
        {
            @RenderSection("Css")
        }
    }
    @{
        if (IsSectionDefined("HeadJs"))
        {
            @RenderSection("HeadJs")
        }
    }
</head>
<body>
    <script>
    </script>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#example-navbar-collapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">切换的导航</span>
                        <span class="fa icon-bar"></span>
                        <span class="fa icon-bar"></span>
                        <span class="fa icon-bar"></span>
                    </button>
                    @*<a class="navbar-brand" href="/Back/" target="_blank">Said</a>*@
                </div>
                <ul class="nav pull-right">
                    <li class="dropdown pull-left">
                        <a href="javascript:;" class="dropdown-toggle">
                            <i class="fa fa-envelope"></i>
                            <span class="badge">1</span>
                        </a>
                    </li>
                    <li class="dropdown  pull-left">
                        <a href="/" class="dropdown-toggle"  target="_blank">Said首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="page-container">
        <nav class="page-sidebar nav-collapse collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="page-sidebar-menu">
                <!--<li>
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a class="remove" href="javascript:;"></a>
                            <input type="text" placeholder="Search...">
                            <input type="button" value=" " class="submit">
                        </div>
                    </form>
                </li>-->
                <li class="@(actionName == "Index" && controllerName == "Home" ? "active" : "")">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home"></i>
                        <span class="title">Home</span>
                        <span class="selected"></span>
                    </a>
                </li>

                <li class="complex @(controllerName=="Said" ? "active open":"")">
                    <a href="javascript:;">
                        <i class="fa fa-pencil-square-o"></i>
                        <span class="title">Said管理</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="@(actionName == "Index" && controllerName == "Said" ? "active" : "")">
                            <a href="@Url.Action("Index", "Said")">
                                <i class=" fa fa-th-list"></i><span class="title">Said管理</span>
                            </a>
                        </li>
                        <li class="@(actionName == "AddSaid" && controllerName == "Said" ? "active" : "")">
                            <a href="@Url.Action("AddSaid", "Said")">
                                <i class="fa fa-pencil-square"></i><span class="title">添加Said</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="complex @(controllerName=="Blog" ? "active open":"")">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span class="title">文章管理</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="@(actionName == "Index" && controllerName == "Blog" ? "active" : "")">
                            <a href="@Url.Action("Index","Blog")">
                                <i class="fa fa-coffee"></i><span class="title">Blog管理</span>
                            </a>
                        </li>
                        <li class="@(actionName == "AddBlog" && controllerName == "Blog" ? "active" : "")">
                            <a href="@Url.Action("AddBlog", "Blog")">
                                <i class=" fa fa-pencil-square"></i><span class="title">添加Blog</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-credit-card"></i>
                        <span class="title">实验室</span>
                    </a>
                </li>
                <li class="@(actionName == "Index" && controllerName == "Classify" ? "active" : "")">
                    <a href="@Url.Action("Index", "Classify")">
                        <i class="fa fa-tags"></i>
                        <span class="title">标签/分类</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-comments"></i>
                        <span class="title">消息中心</span>
                    </a>
                </li>
                <li class="complex @(controllerName == "Image" || controllerName == "Music" ? "active open" : "")">
                    <a href="javascript:;">
                        <i class="fa fa-folder-open"></i>
                        <span class="title">资源管理</span>
                    </a>
                    <ul class="sub-menu">
                        <li title="配置和管理图片" class="@(actionName == "Index" && controllerName == "Image" ? "active" : "")">
                            <a href="@Url.Action("Index", "Image")">
                                <i class="fa fa-picture-o"></i>
                                <span class="title">图片管理</span>
                            </a>
                        </li>
                        <li title="配合和管理音乐文件" class="@(actionName == "Index" && controllerName == "Music" ? "active" : "")">
                            <a href="@Url.Action("Index", "Music")">
                                <i class="fa fa-music"></i>
                                <span class="title">音乐管理</span>
                            </a>
                        </li>
                        <li title="配置上传大小、可上传文件、上传路径等">
                            <a href="javascript:;">
                                <i class="fa fa-folder"></i>
                                <span class="title">资源配置</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="complex @(controllerName == "Site" ? "active open" : "")">
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        <span class="title">站点中心</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="@(actionName == "SiteRecord" && controllerName == "Site" ? "active" : "")">
                            <a href="@Url.Action("SiteRecord", "Site")">
                                <i class="fa fa-pie-chart"></i>
                                <span class="title">访问概况</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-line-chart"></i>
                                <span class="title">时段分析</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-tty"></i>
                                <span class="title">回复统计</span>
                            </a>
                        </li>
                        <li class="@(actionName == "PageConfig" && controllerName == "Site" ? "active" : "")">
                            <a href="@Url.Action("PageConfig", "Site")">
                                <i class="fa fa-th-large"></i>
                                <span class="title">站点配置</span>
                            </a>
                        </li>
                        <li title="监控整个站点的健康状态">
                            <a href="javascript:;">
                                <i class="fa fa-connectdevelop"></i>
                                <span class="title">活动监控</span>
                            </a>
                        </li>
                        <li title="设置访问白名单和黑名单">
                            <a href="javascript:;">
                                <i class="fa fa-globe"></i>
                                <span class="title">访问过滤</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section class="container-main">
            <div class="modal fade" id="said-g-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="said-g-modal-title"></h4>
                        </div>
                        <div class="modal-body" id="said-g-modal-body"></div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </section>
    </section>
    <section id="said-page-mask"><section id="said-mask-box"></section></section>
    <footer></footer>
    <script src="@Url.Content("~/Content/Back/JavaScript/jQuery-2.1.1.js?v=1.0")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/so/so.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/avalon/avalon.mobile.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/said/globalBack.js")"></script>
    <script src="@Url.Content("~/Content/Back/JavaScript/bootstrap.min.js")"></script>
    <script>
        var dateNow = '@Said.SaidCommon.GetTimeStamp()';
    </script>
    @{
        if (IsSectionDefined("FootJs"))
        {
            @RenderSection("FootJs")
        }
    }
</body>
</html>
