@using Said.Models
@using Said.Common
@{
    ViewBag.Title = "听说 - 世界很大，风住过这里";
    Layout = "~/Areas/Wap/Views/Shared/_LayoutWap.cshtml";
    IList<Article> articles = ViewData["articleList"] as List<Article>;
    string saidResourcePath = ConfigInfo.SourceSaidPath;

}
@section Css{
    <link href="@Url.Content("~/Content/wap/style/index.css?v=1.0")" rel="stylesheet">
}
<div class="banner">
    <div class="banner-bg" style="background-image:url(/Content/Images/bg/20150521092620.jpg);"></div>
    <div class="banner-content">
        <h1>世界很大，风住过这里</h1>
        <p>听说</p>
        <p>这里发生过太多的事情</p>
    </div>
</div>
<section class="said-box">
    @{
        if (articles != null)
        {
            foreach (Article item in articles)
            {
                <a class="said-item displaybox" href="@Url.Action("Article", "Said", new { area = "Wap", id = item.SaidId })">
                    <div class="item-bg" style="background-image:url(/Content/Images/bg/Reine-Norway.jpg)"></div>
                    <div class="item-context">
                        <ul class="item-txt">
                            <li><h2>@item.STitle</h2></li>
                            <li class="item-more">
                                <span class="fa fa-heart-o" title="like"><i>@item.Likes</i></span>
                                <time>@Said.SaidCommon.DateToLocal(item.Date)</time>
                            </li>
                        </ul>
                    </div>
                </a>
            }
        }
    }
</section>

@section FootJs{
    <script>
    </script>

}