extends ../partials/layout.pug

block head
  //- stylus 编译出来的目录只有一级目录，？？？？？？？
  link(rel='stylesheet', href='/css/home.css')

block content
  .banner-bg
    ul.banner
      li.banner-item.white(style='background-image:url(/images/bg/said-backgournd.jpg)')
        .banner-content
          h3.title 世界很大，风住过这里
          .context
            p 我有一些故事
            p 觉得让它们在时间里老去有点不妥
            p 于是我把它们分别折进一首歌里
            p 在百无聊赖的下午
            p 与你分享
  section#content
    .said-content
      //- 听说模块
      .said-module
        //- 模块简述
        .head
          h1= '听·说'
          p
            i.saidfont.icon-quotes-left
            = '让思想安静片刻，让耳朵沉沦音乐'
            i.saidfont.icon-quotes-right
          a.link(href='/said')= '查看更多故事'
        //- 模块内容
        ul.content.clear-fix
          each article in articles
            li.item.said-item
              .main(style=`background-image:url(${article.poster.thumb})`)
                //- 蒙版文字
                .mask
                  .summary
                    != article.other.summaryHTML
              .detail
                h2
                  a.ellipsis(title=article.title, href=`/said/${article.key}.html`) #{article.title}
                time.date #{article.info.createTime}
      //- blog 模块
      .said-module
        .head
          h1= '博客精选'
          p
            i.saidfont.icon-baojiaquotation2
            = '泡上咖啡，我们用舒服的方式聊聊技术'
            i.saidfont.icon-baojiaquotation
          a.link(href='/blog')= '查看更多精彩技术文章'
        ul.content.clear-fix
          //- blog 模块
          each blog in blogs
            li.item.blog-item
              h2.ellipsis
                a.link(href=`/blog/${blog.key}.html`) #{blog.title}
              .summary
                != blog.other.summaryHTML
              .footer
                i.saidfont.icon-category #{blog.category.name}
                i.saidfont.icon-yonghu #{blog.info.pv}
                span #{blog.info.createTime}
      //- 实验室模块，尚未开发
      //- .said-module
      //-   .head
      //-     h1= '实验室'
      //-     p
      //-       i.saidfont.icon-baojiaquotation2
      //-       = '锤炼卓越的作品，心怀信仰，所以天马星空'
      //-       i.saidfont.icon-baojiaquotation
      //-     a.span= '敬请期待'
