extends ../partials/layout-mobile.pug

block content
  .banner
    section.banner-bg(style='background-image:url(//static.tasaid.com/images/bg/said-bg.3e0ae7d3.jpg)')
    .content
      h2 听&nbsp;说
      p 世界很大
      p 风住过这里
  .content
    .module-title
      span 听·说
    .lists.view-said
      each article in articles
        a.module-item(href=`/said/${article.key}.html`)
          .item-bg(style=`background-image:url(${article.poster.thumb})`)
          .item-context
            .item-article
              h2 #{article.title}
              .item-music.ellipsis
                i.saidfont.icon-music
                = `${article.song.title} - ${article.song.artist} 《${article.song.album}》`
              .item-txt #{article.summary}
              .item-footer
                time.date 
                  i.saidfont.icon-rili
                  = article.info.localDate
                span.pv 
                  i.saidfont.icon-yonghu #{article.info.pv}
    .module-more
        a(href='/said') 
          span 查看更多听说
    .module-title
      span blog
    .lists.view-blog
      for blog in blogs
        a.module-item(href=`/blog/${blog.key}.html`)
          .item-context
            .item-article
              h2 #{blog.title}
              .item-txt #{blog.summary}
              .item-footer
                span.cate
                  i.saidfont.icon-category #{blog.category.name}
                time.date 
                  i.saidfont.icon-rili #{blog.info.localDate}
                span.pv 
                  i.saidfont.icon-yonghu #{blog.info.pv}
    .module-more
        a(href='/blog') 
          span 查看更多 blog